<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/admin/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../assets/admin/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/admin/libs/css/style.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <link rel="stylesheet" href="../assets/admin/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/flag-icon-css/flag-icon.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="../assets/css/riwayat-transaksi.css">

    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>

    <style type="text/css">
        table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
            background-color: #838ff9;
        }

        table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:before {
            content: ' ';
            margin-top: 5px;
            margin-left: -6px;
            border: 1px solid black;
            border-radius: 3px;
        }

        table.dataTable tr.selected td.select-checkbox:after {
            content: '\2714';
            margin-top: 0px;
            margin-left: -4px;
            text-align: center;
            /* text-shadow: 1px 1px #fdfdfd, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9; */
        }

        .tes {
            position: relative;
            top: -5px;
        }


    </style>
</head>

<body onload="awal()">
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/admin/dashboard"><img src="../assets/img/logo/tempe.png" style="height: 50px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/img/user/user.png" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name"><%= email_admin %> </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="/logout_admin"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="/admin/dashboard">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <a class="nav-link" href="/admin/dashboard"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                            <li class="nav-item ">
                                <a id="aktif" class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-pesanan" aria-controls="submenu-pesanan"><i class="fa fa-fw fa-user-circle"></i>Pesanan <span class="badge badge-success">6</span></a>
                                <div id="submenu-pesanan" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/belum_diproses">Belum Diproses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/belum_dikirim">Belum Dikirim</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Dalam Pengiriman</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/selesai">Selesai</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-produk" aria-controls="submenu-produk"><i class="fa fa-fw fa-user-circle"></i>Produk <span class="badge badge-success">6</span></a>
                                <div id="submenu-produk" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/daftar_barang">Daftar Produk</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/tambah_barang">Tambah Produk</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/daftar_stok">Stok</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-kategori" aria-controls="submenu-kategori"><i class="fa fa-fw fa-user-circle"></i>Kategori <span class="badge badge-success">6</span></a>
                                <div id="submenu-kategori" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/daftar_kategori">Daftar Kategori</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/tambah_kategori">Tambah Kategori</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/admin/penghasilan"><i class="fa fa-fw fa-user-circle"></i>Penghasilan </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Pesanan Dalam Pengiriman </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <% const monthNames = ["-","Jan", "Feb", "Mar", "Apr", "Mei", "Jun","Jul", "Aug", "Sep", "Oct","Nov", "Dec"]; %>


                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card border-3 border-top border-bottom border-top-dark border-bottom-dark">
                                    <h5 class="card-header">Status Pesanan</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="table_pesanan">
                                                <thead class="bg-dark">
                                                    <tr class="border-0">
                                                        <th class="border-0 text-light">Kode Transaksi</th>
                                                        <th class="border-0 text-light">Tanggal Pesan</th>
                                                        <th class="border-0 text-light">Nama Penerima</th>
                                                        <th class="border-0 text-light">Alamat</th>
                                                        <th class="border-0 text-light">Kota</th>
                                                        <th class="border-0 text-light">Total</th>
                                                        <th class="border-0 text-light">Pengiriman</th>
                                                        <th class="border-0 text-light">Aksi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i< pesanan.length ; i++) { %>
                                                        <tr>
                                                        <td onclick="detail_pesanan(<%= i %>)"><%= pesanan[i].KODE %></td>
                                                        <td onclick="detail_pesanan(<%= i %>)"><%= pesanan[i].WAKTU.getDate()+"/"+(pesanan[i].WAKTU.getMonth()+1)+"/"+pesanan[i].WAKTU.getFullYear() %></td>
                                                        <td onclick="detail_pesanan(<%= i %>)"><%= pesanan[i].PENERIMA %></td>
                                                        <td onclick="detail_pesanan(<%= i %>)"><%= pesanan[i].ALAMAT %></td>
                                                        <td onclick="detail_pesanan(<%= i %>)"><%= pesanan[i].KOTA %></td>
                                                        <td onclick="detail_pesanan(<%= i %>)"><%= pesanan[i].TOTAL %></td>
                                                        <td onclick="detail_pesanan(<%= i %>)"><%= pesanan[i].SERVICE %></td>
                                                        <td>
                                                            <button class="btn btn-success" data-toggle="modal" data-target="#modal_lacak_<%= pesanan[i].KODE %>">Lacak</button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>

                                            <div style="display: none;">
                                                <% for(var i=0; i < produk.length;i++){ %>
                                                    <button id="btn-modal-<%= i %>" data-toggle="modal" data-target="#modal_<%= i %>">Batalkan</button>
                                                <% } %>
                                            </div>

                                            <% for(var i=0; i < produk.length;i++){ %>

                                            <% var array_kode_produk = produk[i].KODE_PRODUK; %>
                                            <% var kode_produk = array_kode_produk.split(","); %>

                                            <% var array_gambar = produk[i].GAMBAR; %>
                                            <% var gambar = array_gambar.split(","); %>

                                            <% var array_jumlah = produk[i].JUMLAH; %>
                                            <% var jumlah = array_jumlah.split(","); %>

                                            <% var array_nama = produk[i].NAMA; %>
                                            <% var nama = array_nama.split(","); %>

                                            <% var array_harga = produk[i].HARGA; %>
                                            <% var harga = array_harga.split(","); %>


                                            <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun","Jul", "Aug", "Sep", "Oct","Nov", "Dec"]; %>

                                            <!-- Modal Detail -->
                                              <div class="modal fade" id="modal_<%= i %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLongTitle">Detail Pesanan</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="card-transaksi" style="margin-bottom: 0px;">
                                                          <div class = "card-tanggal"><%= produk[i].WAKTU.getDate()+" "+monthNames[produk[i].WAKTU.getMonth()]+" "+produk[i].WAKTU.getFullYear(); %></div>
                                                          
                                                          <div class = "card-invoice">
                                                            <div class="row">

                                                              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                                                                <div class="invoice-header">
                                                                  Kode Transaksi
                                                                </div>
                                                                <div class="invoice-caption">
                                                                  <div id="kode_transaksi"><%= produk[i].KODE %></div>
                                                                </div>
                                                              </div>

                                                              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                                                                <div class="invoice-header">
                                                                  Status
                                                                </div>
                                                                <div class="invoice-caption">
                                                                  <div id="status">Dalam Pengiriman</div>
                                                                </div>
                                                              </div>

                                                              <div class="col-4" style="border-right: solid 0px;">
                                                                <div class="invoice-header">
                                                                  Total Belanja
                                                                </div>
                                                                <div class="invoice-caption" style="color: #fa591d;">
                                                                  Rp. <%= (produk[i].TOTAL + produk[i].ONGKIR) %>
                                                                </div>
                                                              </div>

                                                            </div>
                                                          </div>

                                                          <div class = "card-invoice">
                                                            <div class="row">

                                                              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                                                                <div class="invoice-header">
                                                                  Tujuan Pengiriman
                                                                </div>
                                                                <div class="invoice-caption" style="margin-top: 5px;margin-bottom: 5px">
                                                                  <%= produk[i].PENERIMA %>
                                                                </div>
                                                                <div>
                                                                  <%= produk[i].ALAMAT %>
                                                                </div>
                                                                <div>
                                                                  <%= produk[i].KOTA %>
                                                                </div>
                                                                <div>
                                                                  Telp. <%= produk[i].TELEPON %>
                                                                </div>
                                                                <div style="margin-bottom: 5px;">
                                                                  <%= produk[i].EMAIL_PENERIMA %>
                                                                </div>
                                                              </div>

                                                              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                                                                <div class="invoice-header">
                                                                  Jasa Pengiriman
                                                                </div>
                                                                <div class="invoice-caption" style="margin-top: 5px;margin-bottom: 5px">
                                                                  JNE - <%= produk[i].SERVICE %>
                                                                </div>
                                                                <div>
                                                                  No. Resi : <%= produk[i].RESI %>
                                                                  <input type="hidden" name="" id="kode_input_<%= i %>" value="<%= produk[i].KODE %>">
                                                                </div>
                                                              </div>

                                                              <div class="col-4" style="border-right: solid 0px rgb(241 241 241);">
                                                                <div class="invoice-header">
                                                                  Pembayaran
                                                                </div>
                                                                <div style="margin-top: 5px;margin-bottom: 5px">
                                                                  <div class="row">
                                                                    <div class="col-6">
                                                                      Total Harga :
                                                                    </div>
                                                                    <div class="col-6">
                                                                      Rp. <%= produk[i].TOTAL %>
                                                                    </div>
                                                                  </div>
                                                                  <div class="row">
                                                                    <div class="col-6">
                                                                      Ongkos Kirim :
                                                                    </div>
                                                                    <div class="col-6">
                                                                      Rp. <%= produk[i].ONGKIR %>
                                                                    </div>
                                                                  </div>
                                                                  <div class="row">
                                                                    <div class="col-6">
                                                                      Total Bayar :
                                                                    </div>
                                                                    <div class="col-6" style="font-weight: bold">
                                                                      Rp. <%= (produk[i].TOTAL + produk[i].ONGKIR) %>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>

                                                            </div>
                                                          </div>

                                                          <% for(var x=0 ; x < kode_produk.length ; x++ ) { %>

                                                            <div class="card-invoice">
                                                              <div class="row">
                                                                <div class="col-6" style="border-right: solid 1px rgb(241 241 241);">
                                                                  <div class="row">
                                                                    <div class="col-3">
                                                                      <img src="../assets/img/product/<%= gambar[x] %>" class="invoice-gambar" style="height: 45px">
                                                                    </div>
                                                                    <div class="col-9">
                                                                      <a class="invoice-caption" style="color: black;" href="/detail?kode=<%= kode_produk[x] %>">
                                                                        <%= nama[x] %>
                                                                      </a>
                                                                      <div>
                                                                        Rp. <%= harga[x] %>/pcs
                                                                      </div>
                                                                      <div>
                                                                        <%= jumlah[x] %> pcs
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                <div class="col-6" style="border-right: solid 0px;">
                                                                  <div class="invoice-header">
                                                                    Total Harga Produk
                                                                  </div>
                                                                  <div class="invoice-caption" style="color: #fa591d;">
                                                                    Rp. <%= (harga[x] * jumlah[x]) %>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>

                                                          <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <div class="row">
                                                          <div class="col-4">
                                                              
                                                          </div>
                                                          <div class="col-4">
                                                              <button class="btn btn-lg btn-success" data-toggle="modal" data-target="#modal_lacak_<%= pesanan[i].KODE %>">Lacak</button>
                                                          </div>
                                                          <div class="col-4">
                                                              
                                                          </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                              <!-- Modal Lacak -->
                                                  <div class="modal fade" id="modal_lacak_<%= pesanan[i].KODE %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="exampleModalLongTitle">Lacak Pesanan</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="container">
                                                            <div class="row head-lacak">
                                                              <div class="col-3 head-lacak-col">
                                                                Tanggal
                                                              </div>
                                                              <div class="col-2 head-lacak-col">
                                                                Jam
                                                              </div>
                                                              <div class="col-7 head-lacak-col-end">
                                                                Keterangan
                                                              </div>
                                                            </div>
                                                            <% for(var x=0; x< lacak[i].length; x++) { %>
                                                              <div class="row body-lacak">
                                                                <div class="col-3 body-lacak-col"><%= lacak[i][x].manifest_date %></div>
                                                                <div class="col-2 body-lacak-col"><%= lacak[i][x].manifest_time %></div>
                                                                <div class="col-7 body-lacak-col-end"><%= lacak[i][x].manifest_description %></div>
                                                              </div>
                                                            <% } %>
                                                          </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <form method="post" action="/admin/pesanan_selesai">
                                                                <input type="hidden" name="kode" value="<%= pesanan[i].KODE %>">
                                                                <button type="submit" class="btn btn-success">Pesanan Selesai</button>
                                                            </form>
                                                            
                                                            <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Tutup</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="" id="kode_read">
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->
                            <!-- ============================================================== -->
                        
                        </div>
                        
                        <!-- Modal Konfirmasi -->
                          <div class="modal fade" id="modal-konfirmasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <h4 id="resi_caption"></h4>
                                </div>
                                <div class="modal-footer">
                                  <form method="post" action="/admin/selesaikan_pesanan">
                                    <input type="hidden" name="kode" id="kode_konfirmasi">

                                    <button type="submit" class="btn btn-success">Simpan</button>
                                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Batal</button>
                                  </form>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                          <!-- End Modal Konfirmasi -->

                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>

    
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha512-5SUkiwmm+0AiJEaCiS5nu/ZKPodeuInbQ7CiSrSnUHe11dJpQ8o4J1DU/rw4gxk/O+WBpGYAZbb8e17CDEoESw==" crossorigin="anonymous"></script>
    <!-- bootstap bundle js -->
    <script src="../assets/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="../assets/admin/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/admin/vendor/multi-select/js/jquery.multi-select.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="../assets/admin/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="../assets/admin/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/admin/vendor/datatables/js/data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

    <!-- main js -->
    <script src="../assets/admin/libs/js/main-js.js"></script>
    <!-- chart chartist js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/sl-1.3.1/datatables.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    


    <script type="text/javascript">
        function awal(){
            document.getElementById("aktif").click();
        }

        var table_pesanan;
        $(document).ready(function() {
            table_pesanan = $('#table_pesanan').DataTable( {
                order: [[ 1, 'asc' ]]
            } );
        } );

        function detail_pesanan(kode){
            document.getElementById("btn-modal-"+kode).click();

        }

        function transfer_data(index){
            var kode_input = document.getElementById("kode_input_"+index).value;

            document.getElementById("kode_read").value = kode_input;
        }

        $('#modal-konfirmasi').on('show.bs.modal', function (e) {
           $("#kode_konfirmasi").val($("#kode_read").val());
           $("#resi_caption").html("Selesaikan Pesanan Ini ?");
        })
    </script>
</body>
 
</html>

