<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha512-5SUkiwmm+0AiJEaCiS5nu/ZKPodeuInbQ7CiSrSnUHe11dJpQ8o4J1DU/rw4gxk/O+WBpGYAZbb8e17CDEoESw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/admin/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="../assets/admin/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/admin/libs/css/style.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../assets/admin/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <link rel="stylesheet" href="../assets/admin/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/flag-icon-css/flag-icon.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/admin/dashboard"><img src="../assets/img/logo/tempe.png" style="height: 50px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/img/user/user.png" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name"><%= email_admin %> </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="/logout_admin"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <a class="nav-link active" href="/admin/dashboard"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-pesanan" aria-controls="submenu-pesanan"><i class="fa fa-fw fa-user-circle"></i>Pesanan <span class="badge badge-success">6</span></a>
                                <div id="submenu-pesanan" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/belum_diproses">Belum Diproses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/belum_dikirim">Belum Dikirim</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/belum_diproses">Dalam Pengiriman</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/selesai">Selesai</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-produk" aria-controls="submenu-produk"><i class="fa fa-fw fa-user-circle"></i>Produk <span class="badge badge-success">6</span></a>
                                <div id="submenu-produk" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/daftar_barang">Daftar Produk</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/tambah_barang">Tambah Produk</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/daftar_stok">Stok</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-kategori" aria-controls="submenu-kategori"><i class="fa fa-fw fa-user-circle"></i>Kategori <span class="badge badge-success">6</span></a>
                                <div id="submenu-kategori" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/daftar_kategori">Daftar Kategori</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/tambah_kategori">Tambah Kategori</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/admin/penghasilan"><i class="fa fa-fw fa-user-circle"></i>Penghasilan </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Dashboard Admin </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-danger" href="/admin/belum_diproses">
                                    <h5 class="card-header bg-danger text-white">
                                        Belum Diproses
                                    </h5>
                                    <div class="card-body" href="/admin/belum_diproses">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_belum_proses.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-warning" href="/admin/belum_dikirim">
                                    <h5 class="card-header bg-warning text-white">
                                        Belum Dikirim
                                    </h5>
                                    <div class="card-body" href="/admin/belum_dikirim">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_belum_kirim.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-info" href="/admin/dalam_pengiriman">
                                    <h5 class="card-header bg-primary text-white">
                                        Dalam Pengiriman
                                    </h5>
                                    <div class="card-body" href="/admin/dalam_pengiriman">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_kirim.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-success" href="/admin/selesai">
                                    <h5 class="card-header bg-success text-white">
                                        Selesai
                                    </h5>
                                    <div class="card-body" href="/admin/selesai">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_selesai.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <% var harga_kategori = ""%>
                            <% var nama_kategori = ""%>
                            <% for(var i=0; i< pendapatan_kategori.length ; i++) { %>
                                <% harga_kategori += pendapatan_kategori[i].HARGA+";" %>
                                <% nama_kategori += pendapatan_kategori[i].NAMA+";" %>
                            <% } %>
                            <input type="hidden" id="harga_kategori" value="<%= harga_kategori %>">
                            <input type="hidden" id="nama_kategori" value="<%= nama_kategori %>">

                            <% const monthNames = ["-","Jan", "Feb", "Mar", "Apr", "Mei", "Jun","Jul", "Aug", "Sep", "Oct","Nov", "Dec"]; %>

                            <% var harga_tanggal = "" %>
                            <% var tanggal_pendapatan = "" %>
                            <% var total_pendapatan = 0%>

                            <% for(var i=0; i< pendapatan_tanggal.length ; i++) { %>
                                <% harga_tanggal += pendapatan_tanggal[i].TOTAL+";" %>

                                <% var array_tanggal = [] %>
                                <% array_tanggal = pendapatan_tanggal[i].TANGGAL.split("-") %>

                                <% tanggal_pendapatan += monthNames[parseInt(array_tanggal[1])]+" "+array_tanggal[0]+";" %>

                                <% total_pendapatan = parseInt(total_pendapatan) + parseInt(pendapatan_tanggal[i].TOTAL) %>

                            <% } %>
                            <input type="hidden" id="tanggal_pendapatan" value="<%= tanggal_pendapatan %>">
                            <input type="hidden" id="harga_tanggal" value="<%= harga_tanggal %>">

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card border-3 border-top border-bottom border-top-dark border-bottom-dark">
                                    <h5 class="card-header">Status Pesanan</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="table_pesanan">
                                                <thead class="bg-dark">
                                                    <tr class="border-0">
                                                        <th class="border-0 text-light">Kode Transaksi</th>
                                                        <th class="border-0 text-light">Tanggal Pesan</th>
                                                        <th class="border-0 text-light">Nama Penerima</th>
                                                        <th class="border-0 text-light">Alamat</th>
                                                        <th class="border-0 text-light">Kota</th>
                                                        <th class="border-0 text-light">Total</th>
                                                        <th class="border-0 text-light">Pengiriman</th>
                                                        <th class="border-0 text-light">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i< pesanan.length ; i++) { %>
                                                        <% var status = "" %>
                                                        <% var color = "" %>
                                                        <tr onclick="detail_pesanan(<%= pesanan[i].KODE %>)">
                                                        <td><%= pesanan[i].KODE %></td>
                                                        <td><%= pesanan[i].WAKTU.getDate()+"/"+(pesanan[i].WAKTU.getMonth()+1)+"/"+pesanan[i].WAKTU.getFullYear() %></td>
                                                        <td><%= pesanan[i].PENERIMA %></td>
                                                        <td><%= pesanan[i].ALAMAT %></td>
                                                        <td><%= pesanan[i].KOTA %></td>
                                                        <td><%= pesanan[i].TOTAL %></td>
                                                        <td><%= pesanan[i].SERVICE %></td>
                                                        <% if(pesanan[i].STATUS == "PAID") { %>
                                                            <% status = "UNPROCESS" %>
                                                            <% color = "#ef172c" %>
                                                        <% } else if(pesanan[i].STATUS == "ON PROCESS") { %>
                                                            <% status = "UNSEND" %>
                                                            <% color = "#ffc108" %>
                                                        <% } else if(pesanan[i].STATUS == "SEND") { %>
                                                            <% status = "SEND" %>
                                                            <% color = "#5969ff" %>
                                                        <% } else if(pesanan[i].STATUS == "DONE") { %>
                                                            <% status = "DONE" %>
                                                            <% color = "#2ec551" %>
                                                        <% } %>
                                                        <td><div class="mr-1" style="color: <%= color %>;"><%= status %> </div></td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->
                            <!-- ============================================================== -->
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card border-3 border-top border-bottom border-top-dark border-bottom-dark">
                                    <h5 class="card-header">Stock Menipis</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="table_stock">
                                                <thead class="bg-dark">
                                                    <tr class="border-0">
                                                        <th class="border-0 text-light">Kode</th>
                                                        <th class="border-0 text-light">Gambar</th>
                                                        <th class="border-0 text-light">Nama</th>
                                                        <th class="border-0 text-light">Stok</th>
                                                        <th class="border-0 text-light">Jumlah Dipesan</th>
                                                        <th class="border-0 text-light">Aksi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i< stok.length ; i++) { %>
                                                    <% var color = "" %>
                                                    <tr>
                                                        <% if(stok[i].STOK == 0) { %>
                                                            <% color = "red" %>
                                                        <% } else if(stok[i].STOK > 0 ) { %>
                                                            <% color = "orange" %>
                                                        <% } %>

                                                        <td onclick="detail_stok(<%= i %>)"><div class="mr-1" style="color: <%= color %>;"><%= stok[i].KODE %> </div></td>
                                                        <td onclick="detail_stok(<%= i %>)"><img src="../assets/img/product/<%= stok[i].GAMBAR %>" class="gambar-table"></td>
                                                        
                                                        <td onclick="detail_stok(<%= i %>)"><div class="mr-1" style="color: <%= color %>;"><%= stok[i].NAMA %> </div></td>
                                                        <td onclick="detail_stok(<%= i %>)"><div class="mr-1" style="color: <%= color %>;"><%= stok[i].STOK %> </div></td>
                                                        <td onclick="detail_stok(<%= i %>)"><div class="mr-1" style="color: <%= color %>;"><%= stok[i].JUMLAH_DIPESAN %> </div></td>
                                                        <td>
                                                            <button class="btn btn-sm btn-success" onclick="detail_stok(<%= i %>)">Tambah Stok</button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>

                                            <div style="display: none;">
                                                <% for(var i=0; i < stok.length;i++){ %>
                                                    <button id="btn-modal-<%= i %>" data-toggle="modal" data-target="#modal_<%= i %>">Batalkan</button>
                                                <% } %>
                                            </div>

                                            <% for(var i=0; i < stok.length;i++){ %>


                                            <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun","Jul", "Aug", "Sep", "Oct","Nov", "Dec"]; %>

                                            <!-- Modal Detail -->
                                              <div class="modal fade" id="modal_<%= i %>" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h5 class="modal-title" id="exampleModalLongTitle">Detail Stok</h5>
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="/admin/tambah_stok_dashboard" >

                                                            <div class="form-group">
                                                                <label >Nama Produk</label>
                                                                <input type="text" class="form-control" value="<%= stok[i].NAMA %>" name="nama" required readonly>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label >Stok Awal</label>
                                                                        <input type="number" class="form-control" value="<%= stok[i].STOK %>" name="stok" required readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label >Tambahan Stok</label>
                                                                        <input type="number" class="form-control" name="stok_tambahan" required>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <input type="hidden" name="kode" value="<%= stok[i].KODE %>">
                                                            <input type="submit" id="btn-simpan-<%= i %>" class="btn btn-success hide" value="simpan">
   
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-lg btn-success" onclick="simpan_data(<%= i %>)" >Simpan</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- ============================================================== -->
                            <!-- total revenue  -->
                            <!-- ============================================================== -->
  
                            
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- category revenue  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                <div class="card border-3 border-top border-bottom border-top-dark border-bottom-dark">
                                    <h5 class="card-header">Pendapatan Berdasarkan Kategori</h5>
                                    <div class="card-body">
                                        <canvas id="myChart" width="375" height="400"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="display-7 font-weight-bold"><span class="text-primary d-inline-block">&nbsp</span><span class="text-success float-right">&nbsp</span></p>
                                    </div>
                                </div>
                            </div>

                            
                            <!-- ============================================================== -->
                            <!-- end category revenue  -->
                            <!-- ============================================================== -->

                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                                <div class="card border-3 border-top border-bottom border-top-dark border-bottom-dark">
                                    <h5 class="card-header"> Total Pendapatan</h5>
                                    <div class="card-body">
                                        <canvas id="myChart2" width="400" height="296"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="display-7 font-weight-bold"><span class="text-primary d-inline-block">Total</span><span class="text-success float-right">Rp.<%= total_pendapatan %></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha512-5SUkiwmm+0AiJEaCiS5nu/ZKPodeuInbQ7CiSrSnUHe11dJpQ8o4J1DU/rw4gxk/O+WBpGYAZbb8e17CDEoESw==" crossorigin="anonymous"></script>
    <!-- bootstap bundle js -->
    <script src="../assets/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="../assets/admin/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/admin/vendor/multi-select/js/jquery.multi-select.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="../assets/admin/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="../assets/admin/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/admin/vendor/datatables/js/data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

    <!-- main js -->
    <script src="../assets/admin/libs/js/main-js.js"></script>
    <!-- chart chartist js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        var nama_kategori = document.getElementById("nama_kategori").value;
        var harga_kategori = document.getElementById("harga_kategori").value;

        var array_nama_kategori = nama_kategori.split(";");
        var array_harga_kategori = harga_kategori.split(";");

        array_nama_kategori.pop();
        array_harga_kategori.pop();

        var warna = ["#5969ff","#ff407b","#ffc750","#2ec551","#25d5f2","brown","lime","purple","pink","grey",];
        // for(var i=0;i<array_nama_kategori.length;i++){
        //     var randomColor = "#"+Math.floor(Math.random()*16777215).toString(16);
        //     warna.push(randomColor);
        // }
        


        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: array_nama_kategori,
            datasets: [{
              label: '# of Tomatoes',
              data: array_harga_kategori,
              backgroundColor: warna,
              borderColor: warna,
              borderWidth: 1
            }]
          },
          options: {
            responsive: false,

          }
        });
        
        var tanggal_pendapatan = document.getElementById("tanggal_pendapatan").value;
        var harga_pendapatan = document.getElementById("harga_tanggal").value;

        var array_tanggal_pendapatan = tanggal_pendapatan.split(";");
        var array_harga_pendapatan = harga_pendapatan.split(";");

        array_tanggal_pendapatan.pop();
        array_harga_pendapatan.pop();

        console.log(tanggal_pendapatan);

        var ctx2 = document.getElementById("myChart2");
        var myLineChart = new Chart(ctx2, {
            type: 'line',
              data: {
                labels: array_tanggal_pendapatan,
                datasets: [{ 
                    data: array_harga_pendapatan,
                    label: "Pendapatan",
                    borderColor: "#6666ff",
                    backgroundColor: "#b3b3ff",
                    fill: true
                  }
                ]
              }
        });

        $(document).ready( function () {
            $('#table_pesanan').DataTable();
        } );

        $(document).ready( function () {
            $('#table_stock').DataTable(
            {
                order: [[ 3, 'asc' ]],
                "columnDefs": [
                    { "width": "7%", "targets": 1 }
                  ]
            });
        } );

        function detail_stok(kode){
            document.getElementById("btn-modal-"+kode).click();
        }

        function detail_pesanan(kode){
            location.replace("/admin/detail_pesanan?kode="+kode);
        }

        function simpan_data(kode){
            document.getElementById("btn-simpan-"+kode).click();
        }


    </script>
</body>
 
</html>

