<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/admin/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../assets/admin/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/admin/libs/css/style.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../assets/admin/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="../assets/admin/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/admin/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="../assets/admin/vendor/fonts/flag-icon-css/flag-icon.min.css">

    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index.html"><img src="../assets/img/logo/tempe.png" style="height: 50px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/img/user/user.png" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name"><%= email_admin %> </h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="/logout_admin"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <a class="nav-link active" href="/admin/dashboard"><i class="fa fa-fw fa-user-circle"></i>Dashboard</a>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-pesanan" aria-controls="submenu-pesanan"><i class="fa fa-fw fa-user-circle"></i>Pesanan <span class="badge badge-success">6</span></a>
                                <div id="submenu-pesanan" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/belum_diproses">Belum Diproses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Belum Dikirim</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Dalam Pengiriman</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Selesai</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-produk" aria-controls="submenu-produk"><i class="fa fa-fw fa-user-circle"></i>Produk <span class="badge badge-success">6</span></a>
                                <div id="submenu-produk" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Daftar Produk</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Tambah Produk</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-kategori" aria-controls="submenu-kategori"><i class="fa fa-fw fa-user-circle"></i>Kategori <span class="badge badge-success">6</span></a>
                                <div id="submenu-kategori" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Daftar Kategori</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Tambah Kategori</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-divider">
                                Features
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa fa-fw fa-user-circle"></i>Penghasilan </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Status Pesanan </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-danger" href="/admin/belum_diproses">
                                    <h5 class="card-header bg-danger text-white">
                                        Belum Diproses
                                    </h5>
                                    <div class="card-body" href="/admin/belum_diproses">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_belum_proses.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-warning" href="/admin/belum_dikirim">
                                    <h5 class="card-header bg-warning text-white">
                                        Belum Dikirim
                                    </h5>
                                    <div class="card-body" href="/admin/belum_dikirim">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_belum_kirim.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-info" href="/admin/dalam_pengiriman">
                                    <h5 class="card-header bg-primary text-white">
                                        Dalam Pengiriman
                                    </h5>
                                    <div class="card-body" href="/admin/dalam_pengiriman">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_kirim.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <a class="card border-3 border-bottom border-bottom-success" href="/admin/selesai">
                                    <h5 class="card-header bg-success text-white">
                                        Selesai
                                    </h5>
                                    <div class="card-body" href="/admin/selesai">
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1"><%= jumlah_selesai.JUMLAH %></h1>
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card border-3 border-top border-bottom border-top-dark border-bottom-dark">
                                    <h5 class="card-header">Status Pesanan</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-dark">
                                                    <tr class="border-0">
                                                        <th class="border-0 text-light">Kode Transaksi</th>
                                                        <th class="border-0 text-light">Tanggal Pesan</th>
                                                        <th class="border-0 text-light">Nama Penerima</th>
                                                        <th class="border-0 text-light">Alamat</th>
                                                        <th class="border-0 text-light">Kota</th>
                                                        <th class="border-0 text-light">Total</th>
                                                        <th class="border-0 text-light">Pengiriman</th>
                                                        <th class="border-0 text-light">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i< pesanan.length ; i++) { %>
                                                        <% var status = "" %>
                                                        <% var color = "" %>
                                                        <tr>
                                                        <td><%= pesanan[i].KODE %></td>
                                                        <td><%= pesanan[i].WAKTU.getDate()+"/"+(pesanan[i].WAKTU.getMonth()+1)+"/"+pesanan[i].WAKTU.getFullYear() %></td>
                                                        <td><%= pesanan[i].PENERIMA %></td>
                                                        <td><%= pesanan[i].ALAMAT %></td>
                                                        <td><%= pesanan[i].KOTA %></td>
                                                        <td><%= pesanan[i].TOTAL %></td>
                                                        <td><%= pesanan[i].SERVICE %></td>
                                                        <% if(pesanan[i].STATUS == "PAID") { %>
                                                            <% status = "UNPROCESS" %>
                                                            <% color = "#ef172c" %>
                                                        <% } else if(pesanan[i].STATUS == "ON PROCESS") { %>
                                                            <% status = "UNSEND" %>
                                                            <% color = "#ffc108" %>
                                                        <% } else if(pesanan[i].STATUS == "SEND") { %>
                                                            <% status = "SEND" %>
                                                            <% color = "#5969ff" %>
                                                        <% } else if(pesanan[i].STATUS == "DONE") { %>
                                                            <% status = "DONE" %>
                                                            <% color = "#2ec551" %>
                                                        <% } %>
                                                        <td><div class="mr-1" style="color: <%= color %>;"><%= status %> </div></td>
                                                    </tr>
                                                    <% } %>

                                                    <tr>
                                                        <td colspan="9"><a href="#" class="btn btn-outline-dark float-right">Lihat Semua</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->
                            <!-- ============================================================== -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="../assets/admin/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="../assets/admin/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="../assets/admin/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="../assets/admin/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="../assets/admin/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="../assets/admin/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="../assets/admin/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="../assets/admin/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="../assets/admin/vendor/charts/c3charts/c3.min.js"></script>
    <script src="../assets/admin/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <!-- <script src="../assets/admin/vendor/charts/c3charts/C3chartjs.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>

    <script src="../assets/admin/libs/js/dashboard-ecommerce.js"></script>

    
</body>
 
</html>