<!doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>eCommerce HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <!-- CSS here -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/css/flaticon.css">
      <link rel="stylesheet" href="assets/css/slicknav.css">
      <link rel="stylesheet" href="assets/css/animate.min.css">
      <link rel="stylesheet" href="assets/css/magnific-popup.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link rel="stylesheet" href="assets/css/themify-icons.css">
      <link rel="stylesheet" href="assets/css/slick.css">
      <link rel="stylesheet" href="assets/css/nice-select.css">
      <link rel="stylesheet" href="assets/css/style.css">

      <style type="text/css">
        .hapus:hover{
          color: red;
        }
      </style>

</head>

<body onload="awal()" style="border-color: #28a745;">

  <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="#">Kategori</a>
                                                <ul class="submenu">
                                                    <% for(var i=0; i < kategori_menu.length ; i++) { %>
                                                        <% function capital_letter(str) 
                                                           { 
                                                                str = str.split(" ") 

                                                                for (var y = 0, x = str.length; y < x; y++) { 
                                                                    str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                                                                } 

                                                                return str.join(" ") 
                                                            } %>
                                                        <li><a href="/kategori?KODE=<%= kategori_menu[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= capital_letter(kategori_menu[i].NAMA) %></a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                            <li><a href="/galeri">Galeri</a></li>
                                            <li><a href="/kontak">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" id="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag" id="cari" onclick="pencarian()"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <a href="/keranjang">
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                
                                            <div class="isi" id="notif_keranjang"><%= keranjang.JUMLAH %></div>
                                            <i class="fas fa-shopping-cart"></i>
                                          <input type="hidden" id="login" value="<%= login %>">
                                        </div>
                                    </li>
                                    </a>
                                    
                                    <li class="d-none d-lg-block" > <a id="btn_login" href="/login" class="btn header-btn">Sign in</a></li>
                                    <li class="d-none d-lg-block" > 
                                      <div class="dropdown">
                                        <a id="btn_akun" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;">
                                          <img class="user-icon" src="assets/img/user/<%= foto %>">
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item disabled" id="akun_email"><%= akun_email %></a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="/profil_akun">Profil</a>
                                          <a class="dropdown-item" href="/riwayat_transaksi">Pesanan Saya</a>
                                          <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">

      <div class="cart_inner">
        <p style="font-size: 30px">Keranjang Belanja</p>
        <div class="order_box">
          <div class="table-responsive">
            <table class="table" style="border-color: #28a745;">
              <thead>
                <tr>
                  <th scope="col">Produk</th>
                  <th scope="col">Aksi</th>
                  <th scope="col">Harga</th>
                  <th scope="col">Jumlah</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <% var list_produk = "" %>
                <% var list_jumlah = "" %>
                <% for(var i=0;i< isi_keranjang.length ;i++) { %>
                <tr>
                  <td>
                    <div class="row media">
                      <div class="col-5">
                        <div class="d-flex">
                          <img src="assets/img/product/<%= isi_keranjang[i].GAMBAR%>" alt="" />
                        </div>
                      </div>

                      <div class="col-7">
                        <div class="media-body" style="padding-top: 62px;">
                          <a href="/detail?kode=<%= isi_keranjang[i].KODE %>"  ><p><%= isi_keranjang[i].NAMA%></p></a>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span><i class="fas fa-trash hapus" onclick="hapus_item(<%= isi_keranjang[i].KODE%>)"></i></span>
                  </td>
                  <td>
                    <h5>Rp. <%= isi_keranjang[i].HARGA%></h5>
                  </td>
                  <td>
                    <h5><%= isi_keranjang[i].JUMLAH %></h5>
                  </td>
                  <td>
                    <h5>Rp. <%= (isi_keranjang[i].JUMLAH)*(isi_keranjang[i].HARGA) %></h5>
                  </td>
                  
                </tr>
                <% list_produk +=  isi_keranjang[i].KODE+";" %>
                <% list_jumlah +=  isi_keranjang[i].JUMLAH+";" %>
                <% } %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Subtotal</h5>
                  </td>
                  <td>
                    <h5>  <% var subtotal = 0; for(var i = 0; i < isi_keranjang.length ; i++) { %>
                          <% subtotal += (isi_keranjang[i].JUMLAH)*(isi_keranjang[i].HARGA) %>
                          <% } %>
                          Rp. <%= subtotal %>
                    </h5>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="checkout_btn float-right">
        <a class="btn" href="/" style="border-radius: 7px;">Lanjutkan Belanja</a>
        <button class="btn" id="btn_checkout" style="border-radius: 7px;" onclick="bayar_cart()">Checkout Keranjang</button>
      </div>
      

      <form action="bayar_cart" method="post">
        <input type="hidden" value="<%= subtotal %>" name="subtotal" id="subtotal_text" >
        <input type="hidden" value="<%= list_produk %>"  name="list_produk">
        <input type="hidden" value="<%= list_jumlah %>"  name="list_jumlah">
        <input type="submit" value="bayar" id="bayar_cart">
      </form>
    </div>
    <div class="area_kosong">
        
    </div>
  </section>
  <!--================End Cart Area =================-->

<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding2">
        
            <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-shipping-fast"></i>
                            <h6>Pengiriman Terpercaya</h6>
                            <p>Kami menggunakan JNE untuk setiap transaksi pengiriman.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-lock"></i>
                            <h6>Pembayaran Yang Aman</h6>
                            <p>Terdapat bebagai macam metode pembayaran yang aman.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-check"></i>
                            <h6>Produk Berkualitas</h6>
                            <p>Kami selalu memastikan produk yang dijual berkualitas dan terjaga.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media Sosial -->
            <div class="container">
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                     </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <!-- Media Sosial -->
        
        </div>
    </div>

    <!-- Footer End-->
</footer>

<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    <script type="text/javascript">
          function awal(){
            var akun_email = document.getElementById("akun_email").innerHTML;
            var btn_login = document.getElementById("btn_login");
            var btn_akun = document.getElementById("btn_akun");
            var notif_keranjang = document.getElementById("notif_keranjang");
            var login = document.getElementById("login").value;
            document.getElementById("bayar_cart").style.display = "none";

            console.log(login);
            if (login == "kosong") {
              btn_akun.style.display = "none";
            }else{
              btn_login.style.display = "none";
            }

            if (notif_keranjang.innerHTML == 0) {
              notif_keranjang.style.display = "none";
            }else{
              notif_keranjang.style.display = "block";
            }

            var subtotal = document.getElementById("subtotal_text").value;
            var btn_checkout = document.getElementById("btn_checkout");
            if (subtotal == 0) {
              btn_checkout.disabled = true;
            }else{
              btn_checkout.disabled = false;
            }
          }

          function bayar_cart(){
            document.getElementById("bayar_cart").click();
          }

          function hapus_item(kode_barang){
            var link = "/hapus_item?kode_barang="+kode_barang;
            window.location.href = link;
          }

          var keyword = document.getElementById("keyword");
          keyword.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
             event.preventDefault();
             document.getElementById("cari").click();
            }
          });

          function pencarian(){
              var keyword = document.getElementById("keyword").value;
              window.location.replace("/cari?keyword="+keyword+"&sorting=KODE&kondisi=ASC");
          }

          
        </script>
</body>

</html>