<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <!-- CSS here -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/select2_detail.min.css" />



      <script 
      type="text/javascript"
      src="https://app.sandbox.midtrans.com/snap/snap.js"
      data-client-key="SB-Mid-client-S6Mmt2K_NFERxpzQ" 
    ></script> <!-- client key midtrans -->

    
</head>

<body onload="awal()">

  <header>
    <!-- Header Start -->
   <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="#">Kategori</a>
                                                <ul class="submenu">
                                                    <% for(var i=0; i < kategori_menu.length ; i++) { %>
                                                        <% function capital_letter(str) 
                                                           { 
                                                                str = str.split(" ") 

                                                                for (var y = 0, x = str.length; y < x; y++) { 
                                                                    str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                                                                } 

                                                                return str.join(" ") 
                                                            } %>
                                                        <li><a href="/kategori?KODE=<%= kategori_menu[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= capital_letter(kategori_menu[i].NAMA) %></a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                            <li><a href="/galeri">Galeri</a></li>
                                            <li><a href="/kontak">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" id="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag" id="cari" onclick="pencarian()"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <a href="/keranjang">
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                
                                            <div class="isi" id="notif_keranjang"><%= keranjang.JUMLAH %></div>
                                            <i class="fas fa-shopping-cart"></i>
                                          <input type="hidden" id="login" value="<%= login %>">
                                        </div>
                                    </li>
                                    </a>
                                    
                                    <li class="d-none d-lg-block" > <a id="btn_login" href="/login" class="btn header-btn">Sign in</a></li>
                                    <li class="d-none d-lg-block" > 
                                      <div class="dropdown">
                                        <a id="btn_akun" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;">
                                          <img class="user-icon" src="assets/img/user/<%= foto %>">
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item disabled" id="akun_email"><%= akun_email %></a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="/profil_akun">Profil</a>
                                          <a class="dropdown-item" href="/riwayat_transaksi">Pesanan Saya</a>
                                          <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
    <!-- Header End -->
  </header>

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <div>
              <div class="order_box">
                <h2>Billing Details</h2>
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                  <div class="col-md-12 form-group p_star">
                    <label for="nama">Nama Penerima</label>
                    <input type="text" class="form-control" id="nama" name="nama" value="<%= akun.NAMA %>" required/>
                  </div>
                  <div class="col-md-6 form-group p_star">
                    <label for="telp">No. Telepon</label>
                    <input type="text" class="form-control" id="telp" name="telp" value="<%= akun.TELEPON %>" required/>
                  </div>
                  <div class="col-md-6 form-group p_star">
                    <label for="email">E-mail Penerima</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= akun.EMAIL %>" required/>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <label for="alamat">Alamat</label>
                    <textarea style="color: #828bb2;" id="alamat" class="form-control" onchange ="salin_alamat()" required><%= akun.ALAMAT %></textarea>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <label for="alamat">Kota/Kabupaten</label>
                    <input type="text" class="form-control" id="kota_pilih" name="" onclick="tampil_pilih_kota()" required/>
                    <div id="kota_select">
                      <select class="country_select " name="kota" id="kota" onchange="ganti_tujuan()" required>
                        <option value="<%= akun.KODE_KOTA %>" id="kota_default"></option>
                        <% for (var i =0;i<rajaongkir.length;i++) { %>
                        <option value="<%= rajaongkir[i].city_id%>"><%= rajaongkir[i].type %> <%= rajaongkir[i].city_name%></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <input type="hidden" id="btn_rajaongkir">
                  <input type="hidden" id="dummy">
                  <input type="hidden" id="berat_barang">

                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">PRODUK
                    <span class="last">TOTAL</span>
                  </a>
                </li>
                <% var list_kode = ""; %>
                <% var list_barang = ""; %>
                <% var list_qty = ""; %>
                <% var list_jumlah = ""; %>

                <% for(var i = 0;i < barang.length ; i++) { %>
                <%  list_kode += barang[i].KODE+";"; %>
                <%  list_barang += barang[i].NAMA+";"; %>
                <%  list_qty += barang[i].JUMLAH+";"; %>
                <%  list_jumlah += barang[i].HARGA+";"; %>
                <li>
                  <a href="#"><%= barang[i].NAMA %>
                    <span class="middle">x <%= barang[i].JUMLAH %></span>
                    <span class="last">Rp.<%= (barang[i].JUMLAH)*(barang[i].HARGA) %></span>
                  </a>
                </li>
                <% } %>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>
                      Rp.<%= transaksi.TOTAL %>
                    </span>
                  </a>
                  <input type="hidden" name="" id="subtotal" value="<%= transaksi.TOTAL %>">
                </li>
                <li>
                  <a href="#">Pengiriman
                    <span id="ongkir"></span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                    <span id="total"></span>
                  </a>
                </li>
              </ul>
              <br>
              <h2>Pengiriman</h2>
              <div class="payment_item" id="pengiriman_1">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="pengiriman" onclick="pengiriman_1()" />
                  <label for="f-option5" id="label_0">-</label>
                  <input type="hidden" id="text_pengiriman_0"/>
                  <div class="check"></div>
                </div>
                <label for="f-option5" style="display: block;">
                  <p id="pengiriman_caption_0">
                    
                  </p>

                </label>
              </div>

              <div class="payment_item" id="pengiriman_2">
                <div class="radion_btn">
                  <input type="radio" id="f-option4" name="pengiriman"  onclick="pengiriman_2()"/>
                  <label for="f-option4" id="label_1">-</label>
                  <input type="hidden" id="text_pengiriman_1"/>
                  <div class="check"></div>
                </div>
                <label for="f-option4" style="display: block;">
                  <p id="pengiriman_caption_1">
                    
                  </p>
                </label>
              </div>

              <div class="payment_item" id="pengiriman_3">
                <div class="radion_btn">
                  <input type="radio" id="f-option3" name="pengiriman"  onclick="pengiriman_3()" />
                  <label for="f-option3" id="label_2">-</label>
                  <input type="hidden" id="text_pengiriman_2"/>
                  <div class="check"></div>
                </div>
                <label for="f-option3" style="display: block;">
                  <p id="pengiriman_caption_2">
                    
                  </p>
                </label>
              </div>
              
              <button class="btn_1 btn-block" onclick="proses_bayar()" id="proses_bayar">Proses Pembayaran</button>
              <input type="hidden" name="transactionToken" id="transactionToken" value="">
              <button id="pay_button">Pay!</button>
              <button id="bayar">bayar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="kode_transaksi" value="<%= kode_transaksi %>">
    <input type="hidden" id="total_text" value="">
    <input type="hidden" id="ongkir_text" value="">
    <input type="hidden" id="kota_tujuan" value="">
    <input type="hidden" id="service" value="">
    <input type="hidden" id="email_akun" value="<%= akun.EMAIL %>"/>

    <input type="hidden" id="list_kode" value="<%= list_kode %>">
    <input type="hidden" id="list_barang" value="<%= list_barang %>">
    <input type="hidden" id="list_qty" value="<%= list_qty %>">
    <input type="hidden" id="list_jumlah" value="<%= list_jumlah %>">
  </section>
  <!--================End Checkout Area =================-->


  <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
    <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="single-method mb-40">
                  <i class="fas fa-shipping-fast"></i>
                  <h6>Pengiriman Terpercaya</h6>
                  <p>Kami menggunakan JNE untuk setiap transaksi pengiriman.</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="single-method mb-40">
                  <i class="fas fa-lock"></i>
                  <h6>Pembayaran Yang Aman</h6>
                  <p>Terdapat bebagai macam metode pembayaran yang aman.</p>
              </div>
          </div> 
          <div class="col-xl-3 col-lg-3 col-md-6">
              <div class="single-method mb-40">
                  <i class="fas fa-check"></i>
                  <h6>Produk Berkualitas</h6>
                  <p>Kami selalu memastikan produk yang dijual berkualitas dan terjaga.</p>
              </div>
          </div>
      </div>
    </div>
    <!-- Media Sosial -->
    <div class="container">
       <!-- Footer bottom -->
       <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-7">
            <div class="footer-copy-right">
             </div>
        </div>
         <div class="col-xl-5 col-lg-5 col-md-5">
            <div class="footer-copy-right f-right">
                <!-- social -->
                <div class="footer-social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                    <a href="#"><i class="fas fa-phone"></i></a>
                </div>
            </div>
        </div>
    </div>
   </div>
   <!-- Media Sosial -->
</div>
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->    
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script src="assets/js/select2.min.js"></script>
    <script>
    $("#kota").select2( {
     placeholder: "Pilih Kota Tujuan",
     allowClear: true
     } );
    </script>
    

    <script type="text/javascript">
      function awal(){
        document.getElementById('btn_rajaongkir').click();

        var kota_pilih = document.getElementById('kota_pilih');
        var kota = document.getElementById('kota_select');

        var pay_button = document.getElementById('pay_button');
        var bayar = document.getElementById('bayar');

        var ongkir = document.getElementById("ongkir_text").value;

        kota_pilih.style.display = "block";
        kota.style.display = "none";

        pay_button.style.display = "none";
        bayar.style.display = "none";

        var akun_email = document.getElementById("akun_email").innerHTML;
        var btn_login = document.getElementById("btn_login");
        var btn_akun = document.getElementById("btn_akun");
        var notif_keranjang = document.getElementById("notif_keranjang");
        var login = document.getElementById("login").value;

        console.log(login);
        if (login == "kosong") {
          btn_akun.style.display = "none";
        }else{
          btn_login.style.display = "none";
        }

        if (notif_keranjang.innerHTML == 0) {
          notif_keranjang.style.display = "none";
        }else{
          notif_keranjang.style.display = "block";
        }

      }

      function tampil_pilih_kota(){
        var kota_pilih = document.getElementById('kota_pilih');
        var kota = document.getElementById('kota_select');

        kota_pilih.style.display = "none";
        console.log(document.getElementById('select2-kota-container').title);
        document.getElementById('select2-kota-container').innerHTML = "<span class='select2-selection__clear'>×</span>"+kota_pilih.value;
        kota.style.display = "block";

        
        setInterval(function(){
         //document.getElementById('kota').click(); 
         //kota.style.display = "none";
        }, 2000);
      }

      function ganti_tujuan(){
        document.getElementById('btn_rajaongkir').click();
        document.getElementById("f-option5").checked = false;
        document.getElementById("f-option4").checked = false;
        document.getElementById("f-option3").checked = false;
        document.getElementById('ongkir_text').value = "";
      }

      function pengiriman_1(){
        document.getElementById('ongkir').innerHTML = "Rp."+document.getElementById('text_pengiriman_0').value;
        document.getElementById('total').innerHTML = "Rp."+(parseInt(document.getElementById('text_pengiriman_0').value)+parseInt(document.getElementById('subtotal').value));

        document.getElementById('ongkir_text').value = document.getElementById('text_pengiriman_0').value;
        document.getElementById('total_text').value = (parseInt(document.getElementById('text_pengiriman_0').value)+parseInt(document.getElementById('subtotal').value));

        document.getElementById("service").value = document.getElementById("label_0").innerHTML;

        document.getElementById('ceklis_0').style.display = "block";
        document.getElementById('ceklis_1').style.display = "none";
        document.getElementById('ceklis_2').style.display = "none";
      }

      function pengiriman_2(){
        document.getElementById('ongkir').innerHTML = "Rp."+document.getElementById('text_pengiriman_1').value;
        document.getElementById('total').innerHTML = "Rp."+(parseInt(document.getElementById('text_pengiriman_1').value)+parseInt(document.getElementById('subtotal').value));

        document.getElementById('ongkir_text').value = document.getElementById('text_pengiriman_1').value;
        document.getElementById('total_text').value = (parseInt(document.getElementById('text_pengiriman_1').value)+parseInt(document.getElementById('subtotal').value));

        document.getElementById("service").value = document.getElementById("label_1").innerHTML;

        document.getElementById('ceklis_0').style.display = "none";
        document.getElementById('ceklis_1').style.display = "block";
        document.getElementById('ceklis_2').style.display = "none";
      }

      function pengiriman_3(){
        document.getElementById('ongkir').innerHTML = "Rp."+document.getElementById('text_pengiriman_2').value;
        document.getElementById('total').innerHTML = "Rp."+(parseInt(document.getElementById('text_pengiriman_2').value)+parseInt(document.getElementById('subtotal').value));

        document.getElementById('ongkir_text').value = document.getElementById('text_pengiriman_2').value;
        document.getElementById('total_text').value = (parseInt(document.getElementById('text_pengiriman_2').value)+parseInt(document.getElementById('subtotal').value));

        document.getElementById("service").value = document.getElementById("label_2").innerHTML;

        document.getElementById('ceklis_0').style.display = "none";
        document.getElementById('ceklis_1').style.display = "none";
        document.getElementById('ceklis_2').style.display = "block";
      }

      function salin_alamat(){

      }

      function proses_bayar(){
        var transactionToken = document.getElementById("transactionToken").value;
        var ongkir = document.getElementById("ongkir_text").value;

        var nama = document.getElementById("nama").value;
        var telp = document.getElementById("telp").value;
        var alamat = document.getElementById("alamat").value;
        var kota = document.getElementById("kota").value;
        var email = document.getElementById("email").value;


        if (nama == "" || telp == "" || alamat == "" || kota == "" || email == "") {
          alert("Mohon Lengkapi Data");
        }
        else if (ongkir == "") {
          alert("Mohon Pilih Jasa Pengiriman");
        }else{
          if (transactionToken == "") {
            document.getElementById("pay_button").click();
          }else{
            document.getElementById("bayar").click();
          }
        }
      }

      var payButton = document.getElementById('bayar');
      // For example trigger on button clicked, or any time you need
      payButton.addEventListener('click', function () {
        snap.pay(document.getElementById('transactionToken').value); // Replace it with your transaction token
      });

      var keyword = document.getElementById("keyword");
      keyword.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
         event.preventDefault();
         document.getElementById("cari").click();
        }
      });

      function pencarian(){
          var keyword = document.getElementById("keyword").value;
          window.location.replace("/cari?keyword="+keyword+"&sorting=KODE&kondisi=ASC");
      }

      
    </script>

    <script src="./checkout.js"></script>
      
</body>

</html>