<!doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>eCommerce HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/slicknav.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="assets/css/themify-icons.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/riwayat-transaksi.css">
  <link rel="stylesheet" href="assets/css/select2_detail.min.css" />

  <style type="text/css">
    .select2-container--default .select2-selection--single {
      background-color: #fff;
      border: 1px solid #eee;
      border-radius: 4px;
      height: 40px;
      font-size: 1rem;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #495057;
        line-height: 28px;
    }
  </style>

</head>

<body onload="awal()">

  <!-- Preloader Start -->
  <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="preloader-circle"></div>
              <div class="preloader-img pere-text">
                  <img src="assets/img/logo/logo.png" alt="">
              </div>
          </div>
      </div>
  </div>
  <!-- Preloader Start -->

  <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="#">Kategori</a>
                                                <ul class="submenu">
                                                    <% for(var i=0; i < kategori_menu.length ; i++) { %>
                                                        <% function capital_letter(str) 
                                                           { 
                                                                str = str.split(" ") 

                                                                for (var y = 0, x = str.length; y < x; y++) { 
                                                                    str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                                                                } 

                                                                return str.join(" ") 
                                                            } %>
                                                        <li><a href="/kategori?KODE=<%= kategori_menu[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= capital_letter(kategori_menu[i].NAMA) %></a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                            <li><a href="/galeri">Galeri</a></li>
                                            <li><a href="/kontak">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" id="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag" id="cari" onclick="pencarian()"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <a href="/keranjang">
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                
                                            <div class="isi" id="notif_keranjang"><%= keranjang.JUMLAH %></div>
                                            <i class="fas fa-shopping-cart"></i>
                                          <input type="hidden" id="login" value="<%= login %>">
                                        </div>
                                    </li>
                                    </a>
                                    
                                    <li class="d-none d-lg-block" > <a id="btn_login" href="/login" class="btn header-btn">Sign in</a></li>
                                    <li class="d-none d-lg-block" > 
                                      <div class="dropdown">
                                        <a id="btn_akun" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;">
                                          <img class="user-icon" src="assets/img/user/<%= foto %>">
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item disabled" id="akun_email"><%= akun_email %></a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="/profil_akun">Profil</a>
                                          <a class="dropdown-item" href="/riwayat_transaksi">Pesanan Saya</a>
                                          <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


  <!--================Cart Area =================-->
  <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun","Jul", "Aug", "Sep", "Oct","Nov", "Dec"]; %>
  <% const monthNumber = ["01", "02", "03", "04", "05", "06","07", "08", "09", "10","11", "12"]; %>

  <% var tanggal_lahir = ""; %>
  

  <section class="latest-product-area padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="order_box">
            <h2>Pendaftaran Akun</h2>
            <form class="row contact_form" action="/update_profil" method="post">
              <div class="col-12 form-group p_star">
                <label>Email :</label>
                <input type="email" class="form-control" name="email" value="" required>
              </div>

              <div class="col-12 form-group p_star">
                <label>Password :</label>
                <input type="password" class="form-control" name="password" value="" required>
              </div>

              <div class="col-12 form-group p_star">
                <label>Ketik Ulang Password :</label>
                <input type="password" class="form-control" name="ulang_password" value="" required>
              </div>

              <div class="col-12 form-group p_star">
                <label>Nama Lengkap :</label>
                <input type="text" class="form-control" name="nama" value="" required>
              </div>

              <div class="col-6 form-group p_star">
                <label>Tanggal Lahir :</label>
                <input type="date" required class="form-control" name="tanggal_lahir" value="">
              </div>
              
              <input type="hidden" name="jenis_kelamin" id="jenis_kelamin" value="">

              <div class="col-6 form-group p_star">
                <label>Jenis Kelamin :</label>
                <div class="row form-radio">
                  <div class="col-6">
                    <div class="radio">
                      <input type="radio" name="optradio" id="laki" onclick="laki_klik()"> <label for="laki">Laki-laki</label>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="radio">
                      <input type="radio" name="optradio" id="perempuan" onclick="perempuan_klik()"> <label for="perempuan">Perempuan</label>
                    </div>
                  </div> 
                </div>
              </div>

              <div class="col-12 form-group p_star">
                <label>Alamat :</label>
                <textarea rows="4" id="alamat" name="alamat" class="form-control" onchange="salin_alamat()" required=""></textarea>
              </div>

              <div class="col-12 form-group p_star">
                <label for="alamat">Kota/Kabupaten :</label>
                <div id="kota_select">
                  <select class="country_select" name="kota" id="kota" required style="width: 100%" required>
                    <% for (var i =0;i<rajaongkir.length;i++) { %>
                    <option value="<%= rajaongkir[i].city_id%>"><%= rajaongkir[i].type %> <%= rajaongkir[i].city_name%></option>
                    <% } %>
                  </select>
                </div>
              </div>

              <div class="col-12 form-group p_star">
                <label for="telp">No. Telepon :</label>
                <input type="text" class="form-control" id="telp" name="telp" value="" required/>
              </div>

              <input type="submit" id="btn_simpan" value="Simpan">
              

            </form>

            <div class="row">
              <div class="col-4">
                
              </div>
              <div class="col-4">
                <button class="btn btn-block btn-simpan" onclick="update_profil()"><span><i class="fas fa-save"></i></span> Simpan</button>
              </div>
              <div class="col-4">
                
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->

<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding2">
        
            <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-shipping-fast"></i>
                            <h6>Pengiriman Terpercaya</h6>
                            <p>Kami menggunakan JNE untuk setiap transaksi pengiriman.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-lock"></i>
                            <h6>Pembayaran Yang Aman</h6>
                            <p>Terdapat bebagai macam metode pembayaran yang aman.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-check"></i>
                            <h6>Produk Berkualitas</h6>
                            <p>Kami selalu memastikan produk yang dijual berkualitas dan terjaga.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media Sosial -->
            <div class="container">
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                     </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <!-- Media Sosial -->
        
        </div>
    </div>

    <!-- Footer End-->
</footer>

<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <script src="assets/js/select2.min.js"></script>
    <script>
      $("#kota").select2( {
        placeholder: "Pilih Kota Tujuan",
        allowClear: true,
        width: 'resolve'
      } );
    </script>

    <script type="text/javascript">
      function awal(){
        var akun_email = document.getElementById("akun_email").innerHTML;
        var btn_login = document.getElementById("btn_login");
        var btn_akun = document.getElementById("btn_akun");
        var notif_keranjang = document.getElementById("notif_keranjang");
        var login = document.getElementById("login").value;

        console.log(login);
        if (login == "kosong") {
          btn_akun.style.display = "none";
        }else{
          btn_login.style.display = "none";
        }

        if (notif_keranjang.innerHTML == 0) {
          notif_keranjang.style.display = "none";
        }else{
          notif_keranjang.style.display = "block";
        }
        
        var jenis_kelamin = document.getElementById("jenis_kelamin").value;
        var laki = document.getElementById("laki");
        var perempuan = document.getElementById("perempuan");

        var btn_simpan = document.getElementById("btn_simpan");

        var salah_1 = document.getElementById("salah_1");
        var salah_2 = document.getElementById("salah_2");

        var simpan_password = document.getElementById("simpan_password");

        if (jenis_kelamin == "Laki-laki") {
          laki.checked = true;
          perempuan.checked = false;
        }else if(jenis_kelamin == "Perempuan"){
          laki.checked = false;
          perempuan.checked = true;
        }

        document.getElementById("kota_pilih").style.display = "block";
        document.getElementById("kota_select").style.display = "none";

        document.getElementById("picture").style.display = "none";
        document.getElementById("btn_ganti_foto").style.display = "none";

        salah_1.style.display = "none";
        salah_2.style.display = "none";

        simpan_password.disabled = true;

        btn_simpan.style.display = "none";
      }

      function tampil_pilih_kota(){
        document.getElementById("kota_pilih").style.display = "none";
        document.getElementById("kota_select").style.display = "block";
      }

      function laki_klik(){
        var jenis_kelamin = document.getElementById("jenis_kelamin").value = "Laki-laki";
      }

      function perempuan_klik(){
        var jenis_kelamin = document.getElementById("jenis_kelamin").value = "Perempuan";
      }

      function update_profil(){
        document.getElementById("btn_simpan").click();
      }

      function pilih_gambar(){
        document.getElementById("picture").click();
        document.getElementById("picture").onchange = function() {
          document.getElementById("btn_ganti_foto").click();
        }
      }

      function cek_password(){
        var password_awal = document.getElementById("password_awal").value;
        var password_now = document.getElementById("password_now").value;
        var salah_1 = document.getElementById("salah_1");
        var salah_2 = document.getElementById("salah_2");
        var simpan_password = document.getElementById("simpan_password");

        if (password_now != password_awal) {
          salah_1.style.display = "block";
          simpan_password.disabled = true;
        }else{
          salah_1.style.display = "none";
          simpan_password.disabled = false;
        }
      }

      function cek_password_2(){
        var password_baru = document.getElementById("password_baru").value;
        var password_cek = document.getElementById("password_cek").value;
        var salah_1 = document.getElementById("salah_1");
        var salah_2 = document.getElementById("salah_2");
        var simpan_password = document.getElementById("simpan_password");

        if (password_baru != password_cek) {
          salah_2.style.display = "block";
          simpan_password.disabled = true;
        }else{
          salah_2.style.display = "none";
          simpan_password.disabled = false;
        }
      }

      var keyword = document.getElementById("keyword");
      keyword.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
         event.preventDefault();
         document.getElementById("cari").click();
        }
      });

      function pencarian(){
          var keyword = document.getElementById("keyword").value;
          window.location.replace("/cari?keyword="+keyword+"&sorting=KODE&kondisi=ASC");
      }

    </script>
</body>

</html>