
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>eCommerce HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="manifest" href="site.webmanifest"> -->
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/select2_detail.min.css" />

            <style type="text/css">
                #scrollUp{
                    padding-top: 12px;
                }
            </style>
   </head>

   <body onload = "awal()">
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="#">Kategori</a>
                                                <ul class="submenu">
                                                    <% for(var i=0; i < kategori_menu.length ; i++) { %>
                                                        <% function capital_letter(str) 
                                                           { 
                                                                str = str.split(" ") 

                                                                for (var y = 0, x = str.length; y < x; y++) { 
                                                                    str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                                                                } 

                                                                return str.join(" ") 
                                                            } %>
                                                        <li><a href="/kategori?KODE=<%= kategori_menu[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= capital_letter(kategori_menu[i].NAMA) %></a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                            <li><a href="/galeri">Galeri</a></li>
                                            <li><a href="/kontak">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" id="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag" id="cari" onclick="pencarian()"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <a href="/keranjang">
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                
                                            <div class="isi" id="notif_keranjang"><%= keranjang.JUMLAH %></div>
                                            <i class="fas fa-shopping-cart"></i>
                                          <input type="hidden" id="login" value="<%= login %>">
                                        </div>
                                    </li>
                                    </a>
                                    
                                    <li class="d-none d-lg-block" > <a id="btn_login" href="/login" class="btn header-btn">Sign in</a></li>
                                    <li class="d-none d-lg-block" > 
                                      <div class="dropdown">
                                        <a id="btn_akun" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;">
                                            <img class="user-icon" src="assets/img/user/<%= foto %>">
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item disabled" id="akun_email"><%= akun_email %></a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="/profil_akun">Profil</a>
                                          <a class="dropdown-item" href="/riwayat_transaksi">Pesanan Saya</a>
                                          <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
        

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="assets/img/product/<%= gambar %>" class="gambar-produk" alt="">
                </div>
                <div class="col-8">
                    <p style="font-size: 2.5rem"><%= nama %></p>
                    <hr>
                    <p style="font-size: 2rem">Rp. <%= harga %></p>
                    <hr>
                    <p><%= stok %> Stok Tersedia</p>
                    <input type="hidden" name="" id="stok_tersedia" value="<%= stok %>">
                    <hr>
                    <div class="row">
                        <div class="col-xl-5">
                            <p>Cek Ongkos Kirim</p>
                            <select id="tujuan" class = "country_select" onchange="ganti_tujuan()" style="width: 220px;">
                                    <option>Pilih Kota Tujuan</option>
                                <% for (var i =0;i<rajaongkir.length;i++) { %>
                                    <option value="<%= rajaongkir[i].city_id%>"><%= rajaongkir[i].type %> <%= rajaongkir[i].city_name%></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-xl-7">
                            <div id="tabel_ongkir">
                                <table id="mytable2" class="table">    
                                    <thead id="table_head">
                                        <tr>
                                            <td>Service</td>
                                            <td>Harga</td>
                                            <td>Estimasi</td>
                                        </tr>
                                    </thead>
                                        <tr>
                                            <td id="service_0"></td>
                                            <td id="harga_0"></td>
                                            <td id="estimasi_0"></td>
                                        </tr>
                                        <tr>
                                            <td id="service_1"></td>
                                            <td id="harga_1"></td>
                                            <td id="estimasi_1"></td>
                                        </tr>
                                        <tr>
                                            <td id="service_2"></td>
                                            <td id="harga_2"></td>
                                            <td id="estimasi_2"></td>
                                        </tr>
                                    <tbody id="table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div id="sudah_login">
                        <button id="btn_cek">CEK</button>
                        <hr>
                        <p>Jumlah Beli</p>
                            <div class="number-input" id="qty">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();kurang()" ></button>
                                <input class="quantity" min="1" max= "<%= stok %>" name="quantity" value="1" type="number">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();tambah()" class="plus"></button>
                            </div>
                            <hr>
                            <div class="row">  
                                <div class="col-xl-6 col-lg-5 col-md-5">
                                    <form name="beli" action="/beli" method="post">
                                        <input type="hidden" name="qty" id="qty_beli" value="1">
                                        <input type="hidden" name="kode_produk" value="<%= kode %>">
                                        <input type="hidden" name="harga_produk" value="<%= harga %>">
                                        <input type="submit" name="" class="btn-beli btn-block" value="Beli Sekarang" id="btn_beli">
                                    </form>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-md-5">
                                    <!-- <form name="keranjang" id="form_keranjang"> -->
                                        <input type="hidden" name="qty" id="qty_keranjang" value="1">
                                        <input type="hidden" name="kode_produk" id="kode_produk_keranjang" value="<%= kode %>">
                                        <input type="hidden" name="email" id="email_keranjang" value="<%= akun_email %>">
                                        <input type="button" class="btn-masuk-keranjang btn-block" id="btn_masuk_keranjang" value="Masukan Keranjang">
                                    <!-- </form> -->
                                </div>
                            </div>
                    </div>
                </div>
            </div>
             <hr>
        </div>

        
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end" style="margin-bottom: 30px">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <h3>Deskripsi Produk</h3>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">

                        </div>
                    </div>
                </div>
                <div class="tab-content" id="nav-tabContent"><%- deskripsi %></div>
            </div>
        </section>

        <!-- Latest Products Start -->
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end" style="margin-bottom: 30px">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <h3>Produk Terkait</h3>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">

                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                        	<% for (var i=0;i<results.length;i++) { %>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                    	<a href="/detail?kode=P1">
                                        <img src="assets/img/product/<%= results[i].GAMBAR %>" alt="">
                                        <div class="new-product">
                                            <span>New</span>
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <h4><a href="#"><%= results[i].NAMA %></a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>Rp.<%= results[i].HARGA %></li>
                                                <!-- <li class="discount">$60.00</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Latest Products End -->

        <!-- Shop Method Start-->
        <footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding2">
        
            <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-shipping-fast"></i>
                            <h6>Pengiriman Terpercaya</h6>
                            <p>Kami menggunakan JNE untuk setiap transaksi pengiriman.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-lock"></i>
                            <h6>Pembayaran Yang Aman</h6>
                            <p>Terdapat bebagai macam metode pembayaran yang aman.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-check"></i>
                            <h6>Produk Berkualitas</h6>
                            <p>Kami selalu memastikan produk yang dijual berkualitas dan terjaga.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media Sosial -->
            <div class="container">
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                     </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <!-- Media Sosial -->
        
        </div>
    </div>

    <!-- Footer End-->
</footer>
        <!-- Shop Method End-->

        
    </main>
	<!-- JS here -->
	
	<!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->    
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="./index.js"></script>


        <script type="text/javascript">
            function awal(){
                var akun_email = document.getElementById("akun_email").innerHTML;
                var btn_login = document.getElementById("btn_login");
                var btn_akun = document.getElementById("btn_akun");
                var notif_keranjang = document.getElementById("notif_keranjang");
                var login = document.getElementById("login").value;

                var tabel_ongkir = document.getElementById("tabel_ongkir");

                var keranjang = document.querySelector(".favorit-items");

                var btn_beli = document.getElementById("btn_beli");
                var btn_masuk_keranjang = document.getElementById("btn_masuk_keranjang");
                var sudah_login = document.getElementById("sudah_login");

                console.log(login);
                if (login == "kosong") {
                    btn_akun.style.display = "none";
                    notif_keranjang.style.display = "none";
                    keranjang.style.display = "none";

                    sudah_login.style.display = "none";

                    btn_beli.disabled = true;
                    btn_masuk_keranjang.disabled = true;
                }else{
                    btn_login.style.display = "none";
                    if (notif_keranjang.innerHTML == 0) {
                        notif_keranjang.style.display = "none";
                    }else{
                        notif_keranjang.style.display = "block";
                    }
                }

                var stok_tersedia = document.getElementById("stok_tersedia").value;
                if (stok_tersedia == 0) {
                    btn_beli.disabled = true;
                    btn_masuk_keranjang.disabled = true;
                }

                tabel_ongkir.style.display = "none";
                document.getElementById("btn_cek").style.display = "none";
            }

            function ganti_tujuan(){
                document.getElementById("btn_cek").click();

                document.getElementById("tabel_ongkir").style.display = "block";
            }

            function kurang(){
                var jumlah = parseInt(document.getElementById("qty_keranjang").value);
                if(jumlah>1){
                    document.getElementById("qty_keranjang").value = jumlah-1;
                    document.getElementById("qty_beli").value = jumlah-1;
                }else{
                    jumlah==1;
                    document.getElementById("qty_keranjang").value = jumlah;
                    document.getElementById("qty_beli").value = jumlah;
                }
            }

            function tambah(){
                var jumlah = parseInt(document.getElementById("qty_keranjang").value);
                //if(jumlah>=1){
                    document.getElementById("qty_keranjang").value = jumlah+1;
                    document.getElementById("qty_beli").value = jumlah+1;
                //}
            }

            var keyword = document.getElementById("keyword");
            keyword.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
               event.preventDefault();
               document.getElementById("cari").click();
              }
            });

            function pencarian(){
                var keyword = document.getElementById("keyword").value;
                window.location.replace("/cari?keyword="+keyword+"&sorting=KODE&kondisi=ASC");
            }

            
        </script>

        <script src="assets/js/select2.min.js"></script>
        <script>
        $("#tujuan").select2( {
         placeholder: "Pilih Kota Tujuan",
         allowClear: true,
         width: 'resolve'
         } );
        </script>       
    </body>
</html>