<!doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>eCommerce HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

  <!-- CSS here -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
      <link rel="stylesheet" href="assets/css/flaticon.css">
      <link rel="stylesheet" href="assets/css/slicknav.css">
      <link rel="stylesheet" href="assets/css/animate.min.css">
      <link rel="stylesheet" href="assets/css/magnific-popup.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link rel="stylesheet" href="assets/css/themify-icons.css">
      <link rel="stylesheet" href="assets/css/slick.css">
      <link rel="stylesheet" href="assets/css/nice-select.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="assets/css/style.css">
      <link rel="stylesheet" href="assets/css/riwayat-transaksi.css">

      <script 
      type="text/javascript"
      src="https://app.sandbox.midtrans.com/snap/snap.js"
      data-client-key="SB-Mid-client-S6Mmt2K_NFERxpzQ" 
      ></script> <!-- client key midtrans -->



      <style type="text/css">
        .hapus:hover{
          color: red;
        }
      </style>

</head>

<body onload="awal()">

  <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="#">Kategori</a>
                                                <ul class="submenu">
                                                    <% for(var i=0; i < kategori_menu.length ; i++) { %>
                                                        <% function capital_letter(str) 
                                                           { 
                                                                str = str.split(" ") 

                                                                for (var y = 0, x = str.length; y < x; y++) { 
                                                                    str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                                                                } 

                                                                return str.join(" ") 
                                                            } %>
                                                        <li><a href="/kategori?KODE=<%= kategori_menu[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= capital_letter(kategori_menu[i].NAMA) %></a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                            <li><a href="/galeri">Galeri</a></li>
                                            <li><a href="/kontak">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" id="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag" id="cari" onclick="pencarian()"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <a href="/keranjang">
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                
                                            <div class="isi" id="notif_keranjang"><%= keranjang.JUMLAH %></div>
                                            <i class="fas fa-shopping-cart"></i>
                                          <input type="hidden" id="login" value="<%= login %>">
                                        </div>
                                    </li>
                                    </a>
                                    
                                    <li class="d-none d-lg-block" > <a id="btn_login" href="/login" class="btn header-btn">Sign in</a></li>
                                    <li class="d-none d-lg-block" > 
                                      <div class="dropdown">
                                        <a id="btn_akun" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;">
                                          <img class="user-icon" src="assets/img/user/<%= foto %>">
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item disabled" id="akun_email"><%= akun_email %></a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="/profil_akun">Profil</a>
                                          <a class="dropdown-item" href="/riwayat_transaksi">Pesanan Saya</a>
                                          <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                  </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>


  <!--================Cart Area =================-->
  <section class="latest-product-area padding-bottom">
    <div class="container">
        <!-- Section Tittle -->
        <div class="col-xl-4 col-lg-5 col-md-5">
          <h3>Detail Transaksi</h3>
        </div>
        <hr>
        

        <% var array_kode_produk = produk.KODE_PRODUK; %>
        <% var kode_produk = array_kode_produk.split(","); %>

        <% var array_jumlah = produk.JUMLAH; %>
        <% var jumlah = array_jumlah.split(","); %>

        <% var array_nama = produk.NAMA; %>
        <% var nama = array_nama.split(","); %>

        <% var array_harga = produk.HARGA; %>
        <% var harga = array_harga.split(","); %>

        <% var array_gambar = produk.GAMBAR; %>
        <% var gambar = array_gambar.split(","); %>

        <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun","Jul", "Aug", "Sep", "Oct","Nov", "Dec"]; %>

        <% var tanggal_buat = "Menunggu" %>
        <% var jam_buat = "" %>

        <% var tanggal_bayar = "Menunggu" %>
        <% var jam_bayar = "" %>

        <% var tanggal_kirim = "Menunggu" %>
        <% var jam_kirim = "" %>

        <% var tanggal_terima = "Menunggu" %>
        <% var jam_terima = "" %>

        <% if(history.DIBUAT != null) { %>
          <% tanggal_buat = history.DIBUAT.getDate()+" "+monthNames[history.DIBUAT.getMonth()]+" "+history.DIBUAT.getFullYear() %>
          <% jam_buat = history.DIBUAT.getHours()+":"+history.DIBUAT.getMinutes()+":"+history.DIBUAT.getSeconds() %>
        <% } %>

        <% if(history.DIBAYAR != null) { %>
          <% tanggal_bayar = history.DIBAYAR.getDate()+" "+monthNames[history.DIBAYAR.getMonth()]+" "+history.DIBAYAR.getFullYear() %>
          <% jam_bayar = history.DIBAYAR.getHours()+":"+history.DIBAYAR.getMinutes()+":"+history.DIBAYAR.getSeconds() %>
        <% } %>

        <% if(history.DIKIRIM != null) { %>
          <% tanggal_kirim = history.DIKIRIM.getDate()+" "+monthNames[history.DIKIRIM.getMonth()]+" "+history.DIKIRIM.getFullYear() %>
          <% jam_kirim = history.DIKIRIM.getHours()+":"+history.DIKIRIM.getMinutes()+":"+history.DIKIRIM.getSeconds() %>
        <% } %>

        <% if(history.DITERIMA != null) { %>
          <% tanggal_terima = history.DITERIMA.getDate()+" "+monthNames[history.DITERIMA.getMonth()]+" "+history.DITERIMA.getFullYear() %>
          <% jam_terima = history.DITERIMA.getHours()+":"+history.DITERIMA.getMinutes()+":"+history.DITERIMA.getSeconds() %>
        <% } %>

        <div id="keterangan">
          <div class="row" style="margin-bottom: 30px;margin-top: 20px">
            <div class="col-3">
              <center>
                <i class="tracking fas fa-receipt fa-3x"></i>
                <div class="tracking-caption">
                  Pesanan Dibuat
                </div>
                <div class="tracking-detail" id="dibuat"><%= tanggal_buat+" "+jam_buat %></div>
              </center>
            </div>
            <div class="col-3">
              <center>
                <i class="tracking fas fa-money-bill-wave fa-3x" style="padding: 0.5em 0.4em"></i>
                <div class="tracking-caption">
                  Pesanan Dibayar
                </div>
                <div class="tracking-detail" id="dibayar"><%= tanggal_bayar+" "+jam_bayar %></div>
              </center>
              
            </div>
            <div class="col-3">
              <center>
                <i class="tracking fas fa-shipping-fast fa-3x" style="padding: 0.5em 0.4em"></i>
                <div class="tracking-caption">
                  Pesanan Dikirim
                </div>
                <div class="tracking-detail" id="dikirim"><%= tanggal_kirim+" "+jam_kirim %></div>
              </center>
              
            </div>
            <div class="col-3">
              <center>
                <i class="tracking fas fa-box fa-3x" style="padding: 0.5em 0.5em"></i>
                <div class="tracking-caption">
                  Pesanan Diterima
                </div>
                <div class="tracking-detail" id="diterima"><%= tanggal_terima+" "+jam_terima %></div>
                </center>
            </div> 
          </div>
        </div>

        <input type="hidden" id="transactionToken" value="<%= produk.TOKEN %>">

        <div class="card-transaksi">
          <div class = "card-tanggal"><%= produk.WAKTU.getDate()+" "+monthNames[produk.WAKTU.getMonth()]+" "+produk.WAKTU.getFullYear(); %></div>
          
          <div class = "card-invoice">
            <div class="row">

              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                <div class="invoice-header">
                  Kode Transaksi
                </div>
                <div class="invoice-caption">
                  <div id="kode_transaksi"><%= produk.KODE %></div>
                </div>
              </div>

              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                <div class="invoice-header">
                  Status
                </div>
                <div class="invoice-caption">
                  <div id="status"><%= produk.STATUS %></div>
                </div>
              </div>

              <div class="col-4" style="border-right: solid 0px;">
                <div class="invoice-header">
                  Total Belanja
                </div>
                <div class="invoice-caption" style="color: #fa591d;">
                  Rp. <%= (produk.TOTAL + produk.ONGKIR) %>
                </div>
              </div>

            </div>
          </div>

          <div class = "card-invoice">
            <div class="row">

              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                <div class="invoice-header">
                  Tujuan Pengiriman
                </div>
                <div class="invoice-caption" style="margin-top: 5px;margin-bottom: 5px">
                  <%= produk.PENERIMA %>
                </div>
                <div>
                  <%= produk.ALAMAT %>
                </div>
                <div>
                  <%= produk.KOTA %>
                </div>
                <div>
                  Telp. <%= produk.TELEPON %>
                </div>
                <div style="margin-bottom: 5px;">
                  <%= produk.EMAIL_PENERIMA %>
                </div>
              </div>

              <div class="col-4" style="border-right: solid 1px rgb(241 241 241);">
                <div class="invoice-header">
                  Jasa Pengiriman
                </div>
                <div class="invoice-caption" style="margin-top: 5px;margin-bottom: 5px">
                  JNE - <%= produk.SERVICE %>
                </div>
                <div>
                  No. Resi : <%= produk.RESI %>
                </div>
              </div>

              <div class="col-4" style="border-right: solid 0px rgb(241 241 241);">
                <div class="invoice-header">
                  Pembayaran
                </div>
                <div style="margin-top: 5px;margin-bottom: 5px">
                  <div class="row">
                    <div class="col-7">
                      Total Harga (<%= kode_produk.length %> Barang) :
                    </div>
                    <div class="col-5">
                      Rp. <%= produk.TOTAL %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      Ongkos Kirim :
                    </div>
                    <div class="col-5">
                      Rp. <%= produk.ONGKIR %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7">
                      Total Bayar :
                    </div>
                    <div class="col-5" style="font-weight: bold">
                      Rp. <%= (produk.TOTAL + produk.ONGKIR) %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <% for(var x=0 ; x < kode_produk.length ; x++ ) { %>

            <div class="card-invoice">
              <div class="row">
                <div class="col-6" style="border-right: solid 1px rgb(241 241 241);">
                  <div class="row">
                    <div class="col-3">
                      <img src="assets/img/product/<%= gambar[x] %>" class="invoice-gambar">
                    </div>
                    <div class="col-9">
                      <a class="invoice-caption" style="color: black;" href="/detail?kode=<%= kode_produk[x] %>">
                        <%= nama[x] %>
                      </a>
                      <div>
                        Rp. <%= harga[x] %>/pcs
                      </div>
                      <div>
                        <%= jumlah[x] %> pcs
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6" style="border-right: solid 0px;">
                  <div class="invoice-header">
                    Total Harga Produk
                  </div>
                  <div class="invoice-caption" style="color: #fa591d;">
                    Rp. <%= (harga[x] * jumlah[x]) %>
                  </div>
                </div>
              </div>
            </div>

          <% } %>
        </div>
        <center>
          <div class="row">
            <div class="col-4">
              
            </div>

            <div class="col-4">
              <div id="belum_bayar">
                <div class="row">
                  <div class="col-6">
                    <button class="btn btn-block" style="border-radius: 10px; padding-top: 30px; padding-bottom: 30px;" id="bayar">Bayar</button>
                  </div>

                  <div class="col-6">
                    <button class="btn-merah btn-block" style="border-radius: 10px; padding-top: 30px; padding-bottom: 30px;" id="batal" data-toggle="modal" data-target="#modal_batal">Batalkan</button>
                  </div>
                </div>
              </div>

                <div id="pesanan_diterima">
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-block btn-diterima" style="border-radius: 10px; padding-top: 30px; padding-bottom: 30px;" id="btn_terima" data-toggle="modal" data-target="#modal_terima">Pesanan Diterima</button>
                    </div>

                    <div class="col-6">
                      <button class="btn btn-block btn-diterima" style="border-radius: 10px; padding-top: 30px; padding-bottom: 30px;" id="btn_lacak" data-toggle="modal" data-target="#modal_lacak">Lacak Pesanan</button>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-4">
              
            </div>
          </div>
        </center>
    </div>
  </section>
  <!--================End Cart Area =================-->

  <!-- Modal Batal -->
  <div class="modal fade" id="modal_batal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Anda Yakin Ingin Membatalkan Pesanan Ini ?
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn-merah btn-modal" data-dismiss="modal"><span><i class="fas fa-times"></i></span> Tidak</button>
          <button type="submit" class="btn btn-success btn-modal" id="simpan_batal" onclick="batalkan_pesanan()"><i class="fas fa-check"></i></span> Ya</button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Modal Diterima -->
  <div class="modal fade" id="modal_terima" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Anda Yakin Ingin Telah Menerima Pesanan Ini ?
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn-merah btn-modal" data-dismiss="modal"><span><i class="fas fa-times"></i></span> Tidak</button>
          <button type="submit" class="btn btn-success btn-modal" id="simpan_terima" onclick="konfirmasi_diterima()"><i class="fas fa-check"></i></span> Ya</button>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Modal Lacak -->
  <div class="modal fade" id="modal_lacak" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Lacak Pesanan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row head-lacak">
              <div class="col-3 head-lacak-col">
                Tanggal
              </div>
              <div class="col-2 head-lacak-col">
                Jam
              </div>
              <div class="col-7 head-lacak-col-end">
                Keterangan
              </div>
            </div>
            <% for(var i=0; i< lacak.length; i++) { %>
              <div class="row body-lacak">
                <div class="col-3 body-lacak-col"><%= lacak[i].manifest_date %></div>
                <div class="col-2 body-lacak-col"><%= lacak[i].manifest_time %></div>
                <div class="col-7 body-lacak-col-end"><%= lacak[i].manifest_description %></div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding2">
        
            <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-shipping-fast"></i>
                            <h6>Pengiriman Terpercaya</h6>
                            <p>Kami menggunakan JNE untuk setiap transaksi pengiriman.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-lock"></i>
                            <h6>Pembayaran Yang Aman</h6>
                            <p>Terdapat bebagai macam metode pembayaran yang aman.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-check"></i>
                            <h6>Produk Berkualitas</h6>
                            <p>Kami selalu memastikan produk yang dijual berkualitas dan terjaga.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media Sosial -->
            <div class="container">
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                     </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <!-- Media Sosial -->
        
        </div>
    </div>

    <!-- Footer End-->
</footer>

<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    <script type="text/javascript">
      function awal(){

        var akun_email = document.getElementById("akun_email").innerHTML;
        var btn_login = document.getElementById("btn_login");
        var btn_akun = document.getElementById("btn_akun");
        var notif_keranjang = document.getElementById("notif_keranjang");
        var login = document.getElementById("login").value;

        console.log(login);
        if (login == "kosong") {
          btn_akun.style.display = "none";
        }else{
          btn_login.style.display = "none";
        }

        if (notif_keranjang.innerHTML == 0) {
          notif_keranjang.style.display = "none";
        }else{
          notif_keranjang.style.display = "block";
        }
        
        var dibuat = document.getElementById('dibuat');
        var dibayar = document.getElementById('dibayar');
        var dikirim = document.getElementById('dikirim');
        var diterima = document.getElementById('diterima');

        var class_dibuat = document.querySelector(".fa-receipt");
        var class_dibayar = document.querySelector(".fa-money-bill-wave");
        var class_dikirim = document.querySelector(".fa-shipping-fast");
        var class_diterima = document.querySelector(".fa-box");

        var payButton = document.getElementById('bayar');
        var belum_bayar = document.getElementById('belum_bayar');
        var pesanan_diterima = document.getElementById('pesanan_diterima');

        var status = document.getElementById('status');
        var keterangan = document.getElementById('keterangan');

        payButton.style.display = "none";
        belum_bayar.style.display = "none";
        pesanan_diterima.style.display = "none";

        if (dibuat.innerHTML == "Menunggu ") {
          class_dibuat.style.backgroundColor  = "#babdbab8";
          class_dibuat.style.borderColor  = "#9fa29e";
          class_dibuat.style.color  = "#9fa29e";
        }
        if (dibayar.innerHTML == "Menunggu ") {
          class_dibayar.style.backgroundColor  = "#babdbab8";
          class_dibayar.style.borderColor  = "#9fa29e";
          class_dibayar.style.color  = "#9fa29e";
          payButton.style.display = "block";
          belum_bayar.style.display = "block";
        }
        if (dikirim.innerHTML == "Menunggu ") {
          class_dikirim.style.backgroundColor  = "#babdbab8";
          class_dikirim.style.borderColor  = "#9fa29e";
          class_dikirim.style.color  = "#9fa29e";
        }
        if (diterima.innerHTML == "Menunggu ") {
          class_diterima.style.backgroundColor  = "#babdbab8";
          class_diterima.style.borderColor  = "#9fa29e";
          class_diterima.style.color  = "#9fa29e";
          if (dibuat.innerHTML != "Menunggu " && dibayar.innerHTML != "Menunggu " && dikirim.innerHTML != "Menunggu ") {
            pesanan_diterima.style.display = "block";
          }
        }

        if (status.innerHTML == "CANCEL"){
          keterangan.style.display = "none";
          belum_bayar.style.display = "none";
          pesanan_diterima.style.display = "none";
        }
      }

      function batalkan_pesanan(){
        var kode_transaksi = document.getElementById("kode_transaksi").innerHTML;
        window.location.href = "/batalkan_pesanan?kode="+kode_transaksi;
      }

      function konfirmasi_diterima(){
        var kode_transaksi = document.getElementById("kode_transaksi").innerHTML;
        window.location.href = "/konfirmasi_terima?kode="+kode_transaksi;
      }

      // For example trigger on button clicked, or any time you need
      var payButton = document.getElementById('bayar');
      payButton.addEventListener('click', function () {
        snap.pay(document.getElementById('transactionToken').value); // Replace it with your transaction token
      });

      var keyword = document.getElementById("keyword");
      keyword.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
         event.preventDefault();
         document.getElementById("cari").click();
        }
      });

      function pencarian(){
          var keyword = document.getElementById("keyword").value;
          window.location.replace("/cari?keyword="+keyword+"&sorting=KODE&kondisi=ASC");
      }

    </script>
</body>

</html>