<form role="form" enctype="multipart/form-data" action="/addPicture"  method="POST">
	<input name="picture" accept="image/*" type="file" id="picture">
	<input type="text" name="kode" placeholder="kode">
	<input type="text" name="nama" placeholder="nama">
	<input type="text" name="harga" placeholder="harga">
	<button type="submit" class="btn btn-primary">Submit</button>
</form>