<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>eCommerce HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body onload="awal()">
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="#">Kategori</a>
                                                <ul class="submenu">
                                                    <% for(var i=0; i < kategori_menu.length ; i++) { %>
                                                        <% function capital_letter(str) 
                                                           { 
                                                                str = str.split(" ") 

                                                                for (var y = 0, x = str.length; y < x; y++) { 
                                                                    str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                                                                } 

                                                                return str.join(" ") 
                                                            } %>
                                                        <li><a href="/kategori?KODE=<%= kategori_menu[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= capital_letter(kategori_menu[i].NAMA) %></a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                            <li><a href="/galeri">Galeri</a></li>
                                            <li><a href="/kontak">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" id="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag" id="cari" onclick="pencarian()"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <a href="/keranjang">
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                            <div class="isi" id="notif_keranjang"><%= keranjang.JUMLAH %></div>
                                            <i class="fas fa-shopping-cart"></i>
                                        	<input type="hidden" id="login" value="<%= login %>">
                                        </div>
                                    </li>
                                    </a>
                                    
                                   	<li class="d-none d-lg-block" > <a id="btn_login" href="/login" class="btn header-btn">Sign in</a></li>
	                                   	<div class="dropdown">
	  										<a id="btn_akun" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;" >
										    	<img class="user-icon" src="assets/img/user/<%= foto %>">
										  	</a>

										  	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
											    <a class="dropdown-item disabled" id="akun_email"><%= akun_email %></a>
											    <div class="dropdown-divider"></div>
											    <a class="dropdown-item" href="/profil_akun">Profil</a>
                                                <a class="dropdown-item" href="/riwayat_transaksi">Pesanan Saya</a>
                                                <a class="dropdown-item" href="/logout">Logout</a>
										    </div>
										</div>
									</li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- slider Area Start -->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height" data-background="assets/img/banner/banner-mi.png">
                    <div class="container">
                        <div class="row d-flex align-items-center ">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 d-none d-md-block">
                                
                                    <div class="hero__img" data-animation="fadeInRight" data-delay=".4s">
                                        <center><img src="assets/img/logo/tempe_big.png" alt=""></center>
                                    </div>
                               
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInRight" data-delay=".4s">&nbsp</span>
                                    <h1 data-animation="fadeInRight" data-delay=".6s">Tempe Super R.O<br> Putra H.E.R</h1>
                                    <p data-animation="fadeInRight" data-delay=".8s"> Jl. Terusan Holis Cibolerang, Margahayu Utara<br>Kota Bandung, Jawa Barat</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Category Area Start-->
        <section class="category-area section-padding30">
            <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h2 style="margin-bottom: -3.5rem;">Berdasarkan Kategori</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% for(var i=0; i< kategori.length;i++) { %>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <img src="assets/img/categori/<%= kategori[i].GAMBAR %>" alt="">
                                <div class="category-caption">
                                    <!-- <h2>Tempe Kedelai</h2> -->
                                    <span class="best"><a href="kategori?KODE=<%= kategori[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= kategori[i].NAMA %></a></span>
                                    <!-- <span class="collection">New Collection</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <center><div class="kategori-lainnya"><a class="btn" href="/semua_kategori?keyword=&sorting=NAMA&kondisi=ASC">Tampilkan Kategori Lainnya</a></div></center>
            </div>
        </section>
        <!-- Category Area End-->
        <!-- Latest Products Start -->
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <h2>Produk</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">
                            <!--Nav Button  -->
                            <nav>                                                                                                
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-semua-tab" data-toggle="tab" href="#nav-semua" role="tab" aria-controls="nav-semua" aria-selected="true">Semua</a>
                                    <a class="nav-item nav-link" id="nav-terbaru-tab" data-toggle="tab" href="#nav-terbaru" role="tab" aria-controls="nav-terbaru" aria-selected="false">Terbaru</a>
                                    <a class="nav-item nav-link" id="nav-terlaris-tab" data-toggle="tab" href="#nav-terlaris" role="tab" aria-controls="nav-terlaris" aria-selected="false">Terlaris</a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-semua" role="tabpanel" aria-labelledby="nav-semua-tab">
                        <div class="row">
                        	<% for (var i=0;i<results.length;i++) { %>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                    	<a href="/detail?kode=<%= results[i].KODE %>">
                                        <img src="assets/img/product/<%= results[i].GAMBAR %>" alt="">
                                        <div class="new-product">
                                            
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <h4><a href="/detail?kode=<%= results[i].KODE %>"><%= results[i].NAMA %></a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>Rp.<%= results[i].HARGA %></li>
                                                <!-- <li class="discount">$60.00</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            
                        </div>
                    </div>
                    <!-- Card two -->
                    <div class="tab-pane fade" id="nav-terbaru" role="tabpanel" aria-labelledby="nav-terbaru-tab">
                        <div class="row">
                            <% for (var i=0;i<terbaru.length;i++) { %>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <a href="/detail?kode=<%= terbaru[i].KODE %>">
                                        <img src="assets/img/product/<%= terbaru[i].GAMBAR %>" alt="">
                                        <div class="new-product">
                                            <span>New</span>
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <h4><a href="/detail?kode=<%= terbaru[i].KODE %>"><%= terbaru[i].NAMA %></a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>Rp.<%= terbaru[i].HARGA %></li>
                                                <!-- <li class="discount">$60.00</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            
                        </div>
                    </div>
                    <!-- Card three -->
                    <div class="tab-pane fade" id="nav-terlaris" role="tabpanel" aria-labelledby="nav-terlaris-tab">
                        <div class="row">
                            <% for (var i=0;i<terlaris.length;i++) { %>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60">
                                    <div class="product-img">
                                        <a href="/detail?kode=<%= terlaris[i].KODE %>">
                                        <img src="assets/img/product/<%= terlaris[i].GAMBAR %>" alt="">
                                        <div class="new-product">
                                            
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <h4><a href="/detail?kode=<%= terlaris[i].KODE %>"><%= terlaris[i].NAMA %></a></h4>
                                        <div class="price">
                                            <ul>
                                                <li>Rp.<%= terlaris[i].HARGA %></li>
                                                <!-- <li class="discount">$60.00</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->

        <!-- Shop Method Start-->
        <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-shipping-fast"></i>
                            <h6>Pengiriman Terpercaya</h6>
                            <p>Kami menggunakan JNE untuk setiap transaksi pengiriman.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-lock"></i>
                            <h6>Pembayaran Yang Aman</h6>
                            <p>Terdapat bebagai macam metode pembayaran yang aman.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-check"></i>
                            <h6>Produk Berkualitas</h6>
                            <p>Kami selalu memastikan produk yang dijual berkualitas dan terjaga.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media Sosial -->
            <div class="container">
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                     </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <!-- Media Sosial -->
        </div>
        <!-- Shop Method End-->
    </main>
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>

        <script type="text/javascript">
        	function awal(){
        		var akun_email = document.getElementById("akun_email").innerHTML;
        		var btn_login = document.getElementById("btn_login");
        		var btn_akun = document.getElementById("btn_akun");
        		var notif_keranjang = document.getElementById("notif_keranjang");
        		var login = document.getElementById("login").value;

                var keranjang = document.querySelector(".favorit-items");

        		console.log(login);
        		if (login == "kosong") {
        			btn_akun.style.display = "none";
                    notif_keranjang.style.display = "none";
                    keranjang.style.display = "none";
        		}else{
        			btn_login.style.display = "none";
                    if (notif_keranjang.innerHTML == 0) {
                        notif_keranjang.style.display = "none";
                    }else{
                        notif_keranjang.style.display = "block";
                    }
        		}
        	}

            function link(){
                console.log("keranjang klik");
            }

            function klik_dropdown(x){
                x.click();
                console.log("hover");
            }

            var keyword = document.getElementById("keyword");
            keyword.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
               event.preventDefault();
               document.getElementById("cari").click();
              }
            });

            function pencarian(){
                var keyword = document.getElementById("keyword").value;
                window.location.replace("/cari?keyword="+keyword+"&sorting=KODE&kondisi=ASC");
            }
        </script>
        
    </body>
</html>