<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>eCommerce HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

        <!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">

   </head>

   <body onload="awal()">
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Beranda</a></li>
                                            <li><a href="#">Kategori</a>
                                                <ul class="submenu">
                                                    <% for(var i=0; i < kategori_menu.length ; i++) { %>
                                                        <% function capital_letter(str) 
                                                           { 
                                                                str = str.split(" ") 

                                                                for (var y = 0, x = str.length; y < x; y++) { 
                                                                    str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                                                                } 

                                                                return str.join(" ") 
                                                            } %>
                                                        <li><a href="/kategori?KODE=<%= kategori_menu[i].KODE %>&keyword=&sorting=KODE&kondisi=ASC"><%= capital_letter(kategori_menu[i].NAMA) %></a></li>
                                                    <% } %>
                                                </ul>
                                            </li>
                                            <li><a href="/galeri">Galeri</a></li>
                                            <li><a href="/kontak">Kontak</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                                <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right ">
                                            <input type="text" name="Search" id="keyword" placeholder="Search products">
                                            <div class="search-icon">
                                                <i class="fas fa-search special-tag" id="cari" onclick="pencarian()"></i>
                                            </div>
                                        </div>
                                     </li>
                                     <a href="/keranjang">
                                    <li class=" d-none d-xl-block">
                                        <div class="favorit-items">
                                
                                            <div class="isi" id="notif_keranjang"><%= keranjang.JUMLAH %></div>
                                            <i class="fas fa-shopping-cart"></i>
                                            <input type="hidden" id="login" value="<%= login %>">
                                        </div>
                                    </li>
                                    </a>
                                    
                                    <li class="d-none d-lg-block" > <a id="btn_login" href="/login" class="btn header-btn">Sign in</a></li>
                                    <li class="d-none d-lg-block" > 
                                        <div class="dropdown">
                                            <a id="btn_akun" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;">
                                                <img class="user-icon" src="assets/img/user/<%= foto %>">
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item disabled" id="akun_email"><%= akun_email %></a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/profil_akun">Profil</a>
                                                <a class="dropdown-item" href="/riwayat_transaksi">Pesanan Saya</a>
                                                <a class="dropdown-item" href="/logout">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- Category Area Start-->
        <section class="category-area section-padding30">
            <div class="container-fluid">
                <div class="order_box">

                    <div class="row">
                        <div class="col-3"></div>

                        <div class="col-6">
                            <div class="row search-block">
                                <div class="col-11">
                                    <input type="text" class="search-box" id="keyword_2" placeholder="Cari Produk Dalam Kategori Ini" name="">
                                </div>

                                <div class="col-1" style="padding-right: 0px;">
                                    <div class="form-box f-right icon-cari">
                                        <div class="button-cari">
                                            <i class="fas fa-search special-tag" id="cari_2" onclick="pencarian_2()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3"></div>
                    </div>

                    <div class="f-right">
                        <div>
                            Urutkan :
                            <select class="select-urutkan" id="sorting" onchange="filter()">
                                <option value="KODE ASC">Paling Sesuai</option>
                                <option value="TANGGAL_INPUT DESC">Terbaru</option>
                                <option value="JUMLAH_DIPESAN DESC">Terlaris</option>
                                <option value="HARGA ASC">Harga Termurah</option>
                                <option value="HARGA DESC">Harga Termahal</option>
                            </select>
                        </div>
                    </div>
                    <% function capital(str) 
                   { 
                        str = str.split(" ") 

                        for (var y = 0, x = str.length; y < x; y++) { 
                            str[y] = str[y][0].toUpperCase() + str[y].substr(1) 
                        } 

                        return str.join(" ") 
                    } %>

                    <h2>Menampilkan Produk Untuk Kategori <b>"<%= capital(kategori.NAMA) %>"</b> </h2>
                    <input type="hidden" id="kode_kategori" value="<%= kategori.KODE %>">
                    <input type="hidden" name="" id="temp_keyword" value="<%= keyword %>">
                    <input type="hidden" name="" id="temp_sorting" value="<%= sorting %>">
                    <input type="hidden" name="" id="temp_kondisi" value="<%= kondisi %>">

                    <br>
                    <div class="row">
                        <% for(var i = 0; i < produk.length; i++) { %>
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="single-product mb-60" style="background-color: #ffffff">
                                    <div class="product-img">
                                        <a href="/detail?kode=<%= produk[i].KODE %>">
                                        <img class="cari-gambar" src="assets/img/product/<%= produk[i].GAMBAR %>" alt="">
                                        <div class="new-product">
                                            
                                        </div>
                                    </div>
                                    <div class="product-caption">
                                        <h4><a href="/detail?kode=<%= produk[i].KODE %>" class="cari-nama"><%= produk[i].NAMA %></a></h4>
                                        <div class="price">
                                            <ul>
                                                <li class="cari-harga">Rp.<%= produk[i].HARGA %></li>
                                                <!-- <li class="discount">$60.00</li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                </div>
                
            </div>
        </section>
        <!-- Category Area End-->

        <!-- Shop Method Start-->
        <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-shipping-fast"></i>
                            <h6>Pengiriman Terpercaya</h6>
                            <p>Kami menggunakan JNE untuk setiap transaksi pengiriman.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-lock"></i>
                            <h6>Pembayaran Yang Aman</h6>
                            <p>Terdapat bebagai macam metode pembayaran yang aman.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="fas fa-check"></i>
                            <h6>Produk Berkualitas</h6>
                            <p>Kami selalu memastikan produk yang dijual berkualitas dan terjaga.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media Sosial -->
            <div class="container">
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                     </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                            <a href="#"><i class="fas fa-phone"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <!-- Media Sosial -->
        </div>
        <!-- Shop Method End-->
    </main>
    <!-- JS here -->
    
        <!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>

        <!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
        <script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
        <!-- Jquery Plugins, main Jquery -->    
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>

        <script type="text/javascript">

            function awal(){
                var akun_email = document.getElementById("akun_email").innerHTML;
                var btn_login = document.getElementById("btn_login");
                var btn_akun = document.getElementById("btn_akun");
                var notif_keranjang = document.getElementById("notif_keranjang");
                var login = document.getElementById("login").value;

                var keranjang = document.querySelector(".favorit-items");

                console.log(login);
                if (login == "kosong") {
                    btn_akun.style.display = "none";
                    notif_keranjang.style.display = "none";
                    keranjang.style.display = "none";
                }else{
                    btn_login.style.display = "none";
                    if (notif_keranjang.innerHTML == 0) {
                        notif_keranjang.style.display = "none";
                    }else{
                        notif_keranjang.style.display = "block";
                    }
                }

                var temp_keyword = document.getElementById("temp_keyword").value;
                var temp_sorting = document.getElementById("temp_sorting").value;
                var temp_kondisi = document.getElementById("temp_kondisi").value;

                if(temp_sorting == "KODE"){
                    document.getElementById("sorting").options.selectedIndex = 0;
                }else if(temp_sorting == "TANGGAL_INPUT"){
                    document.getElementById("sorting").options.selectedIndex = 1;
                }else if(temp_sorting == "JUMLAH_DIPESAN"){
                    document.getElementById("sorting").options.selectedIndex = 2;
                }else if(temp_sorting == "HARGA"){
                    if(temp_kondisi == "ASC"){
                        document.getElementById("sorting").options.selectedIndex = 3;
                    }else{
                        document.getElementById("sorting").options.selectedIndex = 4;
                    }
                }

            }

            var keyword = document.getElementById("keyword");
            keyword.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
               event.preventDefault();
               document.getElementById("cari").click();
              }
            });

            var keyword_2 = document.getElementById("keyword_2");
            keyword_2.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
               event.preventDefault();
               document.getElementById("cari_2").click();
              }
            });

            function pencarian(){
                var keyword = document.getElementById("keyword").value;
                window.location.replace("/cari?keyword="+keyword+"&sorting=KODE&kondisi=ASC");
            }

            function pencarian_2(){
                var keyword = document.getElementById("keyword_2").value;
                var kode_kategori = document.getElementById("kode_kategori").value;
                window.location.replace("/kategori?KODE="+kode_kategori+"&keyword="+keyword+"&sorting=KODE&kondisi=ASC");
            }

            function filter(){
                var keyword = document.getElementById("temp_keyword").value;
                var kode_kategori = document.getElementById("kode_kategori").value;
                var value = document.getElementById("sorting").value.split(" ");
                var sorting = value[0];
                var kondisi = value[1];

                window.location.replace("/kategori?KODE="+kode_kategori+"&keyword="+keyword+"&sorting="+sorting+"&kondisi="+kondisi);
            }

            
        </script>
        
    </body>
</html>