<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
          <link rel="stylesheet" href="assets/css/bootstrap.min.css">
          <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
          <link rel="stylesheet" href="assets/css/flaticon.css">
          <link rel="stylesheet" href="assets/css/slicknav.css">
          <link rel="stylesheet" href="assets/css/animate.min.css">
          <link rel="stylesheet" href="assets/css/magnific-popup.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
          <link rel="stylesheet" href="assets/css/themify-icons.css">
          <link rel="stylesheet" href="assets/css/slick.css">
          <link rel="stylesheet" href="assets/css/nice-select.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <link rel="stylesheet" href="assets/css/style.css">
          <link rel="stylesheet" href="assets/css/riwayat-transaksi.css">
          <link rel="stylesheet" href="assets/css/select2_detail.min.css" />

          <style type="text/css">
            .select2-container--default .select2-selection--single {
              background-color: #fff;
              border: 1px solid #eee;
              border-radius: 4px;
              height: 40px;
              font-size: 1rem;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                color: #495057;
                line-height: 28px;
            }
          </style>
</head>

<body onload="awal()">
    
    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/tempe.png" alt=""></a>
                                </div>
                            </div>
                            
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Belum Punya Akun?</h2>
                            <p>Daftarkan Akun Anda Untuk Mulai Berbelanja di Tempe Super R.O.</p>
                            <button class="btn_3" data-toggle="modal" data-target="#modal_daftar">Buat Akun</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <p style="font-size: 26px">Selamat Datang ! <br>
                                Silahkan Masukan Akun Anda</p>
                            <form class="row contact_form" action="/proses_login" method="post">
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="name" name="email" value=""
                                        placeholder="Email" required="">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Password" required="">
                                </div>
                                <div class="col-md-12 form-group">
                                    
                                    <button type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>
                                </div>
                            </form>
                            <input type="hidden" id="wrong" value="<%= wrong %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

    <!-- Shop Method Start-->
        <div class="shop-method-area section-padding30" style="background-color:#75b03a;padding-bottom: 0px; ">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Media Sosial -->
            <div class="container">
               <!-- Footer bottom -->
               <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                     </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="footer-copy-right f-right">
                        <!-- social -->
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
           <!-- Media Sosial -->
        </div>
        <!-- Shop Method End-->

        <!-- Modal Daftar -->
          <div class="modal fade" id="modal_daftar" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Pendaftaran Akun</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="row contact_form" enctype="multipart/form-data" action="/daftar" method="post">
                      <div class="col-12 form-group p_star">
                        <label>Email :</label>
                        <input type="email" class="form-control" name="email" value="" required>
                      </div>

                      <div class="col-12 form-group p_star">
                        <label>Password :</label>
                        <input type="password" class="form-control" name="password" id="password_baru" onkeyup="hapus_cek_password()" required>
                      </div>

                      <div class="col-12 form-group p_star">
                        <label>Ketik Ulang Password :</label>
                        <input type="password" class="form-control" name="ulang_password" id="password_ulang" onkeyup="cek_password()" required>
                      </div>
                      <div class="password-salah" id="salah_1">
                        Password Tidak Sesuai !
                      </div>

                      <div class="col-12 form-group p_star">
                        <label>Nama Lengkap :</label>
                        <input type="text" class="form-control" name="nama" value="" required>
                      </div>

                      <div class="col-6 form-group p_star">
                        <label>Tanggal Lahir :</label>
                        <input type="date" required class="form-control" name="tanggal_lahir" value="">
                      </div>
                      
                      <input type="hidden" name="jenis_kelamin" id="jenis_kelamin" value="">

                      <div class="col-6 form-group p_star">
                        <label>Jenis Kelamin :</label>
                        <div class="row form-radio">
                          <div class="col-6">
                            <div class="radio">
                              <input type="radio" name="optradio" id="laki" onclick="laki_klik()" required> <label for="laki">Laki-laki</label>
                            </div>
                          </div>
                          <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
                            <div class="radio">
                              <input type="radio" name="optradio" id="perempuan" onclick="perempuan_klik()" required> <label for="perempuan">Perempuan</label>
                            </div>
                          </div> 
                        </div>
                      </div>

                      <div class="col-12 form-group p_star">
                        <label>Alamat :</label>
                        <textarea rows="4" id="alamat" name="alamat" class="form-control" onchange="salin_alamat()" required></textarea>
                      </div>

                      <div class="col-12 form-group p_star">
                        <label for="alamat">Kota/Kabupaten :</label>
                        <div id="kota_select">
                          <select class="country_select" name="kota" id="kota" style="width: 100%" required>
                            <% for (var i =0;i<rajaongkir.length;i++) { %>
                            <option value="<%= rajaongkir[i].city_id%>"><%= rajaongkir[i].type %> <%= rajaongkir[i].city_name%></option>
                            <% } %>
                          </select>
                        </div>
                      </div>

                      <div class="col-12 form-group p_star">
                        <label for="telp">No. Telepon :</label>
                        <input type="text" class="form-control" id="telp" name="telp" value="" required/>
                      </div>

                      <div class="col-12 form-group p_star">
                        <label>Foto :</label>
                        <div class="custom-file">
                            <label class="custom-file-label" for="picture">Pilih file</label>
                            <input class="custom-file-input" name="picture" accept="image/*" type="file" id="picture">
                        </div>
                      </div>

                      <input type="submit" id="btn_simpan" value="Simpan">
                      

                    </form>

                </div>
                <div class="modal-footer">
                  <button type="reset" class="btn-merah btn-modal" data-dismiss="modal"><span><i class="fas fa-times"></i></span> Tutup</button>
                  <button type="submit" class="btn btn-success btn-modal" onclick="submit_daftar()" id="simpan"><i class="fas fa-save"></i></span> Simpan</button>
                </div>
                
              </div>
            </div>
          </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" id="btn-modal-salah" data-target="#modal_salah_password">
              Launch demo modal
            </button>

          <!-- Modal -->
            <div class="modal fade" id="modal_salah_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header" style="background-color: #ec4b4b;">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Perhatian ! </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" style="color: #fff;opacity: 100%;">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h6 style="font-size: 1.1rem;">Email dan Password Yang Anda Masukan Salah !</h6> 
                  </div>
                  
                </div>
              </div>
            </div>

<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="assets/js/select2.min.js"></script>
    <script>
      $("#kota").select2( {
        placeholder: "Pilih Kota Anda",
        allowClear: true,
        width: 'resolve'
      } );
    </script>

    <script type="text/javascript">
        function awal(){
            var btn_modal_salah = document.getElementById("btn-modal-salah");
            btn_modal_salah.style.display = "none";

            var salah_1 = document.getElementById("salah_1");
            salah_1.style.display = "none";

            var simpan = document.getElementById("simpan");
            simpan.disabled = true;

            var btn_simpan = document.getElementById("btn_simpan");
            btn_simpan.style.display = "none";

            var wrong = document.getElementById("wrong").value;

            if (wrong=="true") {
                btn_modal_salah.click();
            }
        }

        function cek_password(){
            var password_baru = document.getElementById("password_baru").value;
            var password_ulang = document.getElementById("password_ulang").value;
            var salah_1 = document.getElementById("salah_1");
            var simpan = document.getElementById("simpan");

            if (password_ulang != password_baru) {
              salah_1.style.display = "block";
              simpan.disabled = true;
            }else{
              salah_1.style.display = "none";
              simpan.disabled = false;
            }
        }

        function hapus_cek_password(){
            var password_ulang = document.getElementById("password_ulang").value = "";
            var salah_1 = document.getElementById("salah_1");
            var simpan = document.getElementById("simpan");
            simpan.disabled = true;
        }

        function submit_daftar(){
            var btn_simpan = document.getElementById("btn_simpan");
            btn_simpan.click();
        }

        function laki_klik(){
            document.getElementById("jenis_kelamin").value = "Laki-laki";
        }

        function perempuan_klik(){
            document.getElementById("jenis_kelamin").value = "Perempuan";
        }

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

</body>
    
</html>