.card-transaksi {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgb(160 162 161);
    background-color: rgb(255, 255, 255);
    cursor: default;
    color: rgba(0, 0, 0, 0.68);
    display: flex;
    font-size: 12px;
    flex-direction: column;
    line-height: 20px;
    margin: 0px 0px 24px;
    padding-top: 10px;
    padding-bottom: 10px

}

.card-tanggal {
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px;
    border-bottom: solid 1px rgb(241 241 241);
}

.card-invoice {
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    border-bottom: solid 1px rgb(241 241 241);
}

.invoice-header {
    font-size: 12px;
}

.invoice-caption {
    font-size: 16px;
    font-weight: bold;
}

.invoice-gambar {
    /*height: 66px;
    width: 100px;*/

    width: 100%;
  height: 80px;
  object-fit:cover;
  border: solid 1px rgb(241 241 241);
}

.tampil-lainnya {
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #42b549;
    border-bottom: solid 1px rgb(241 241 241);
}

.tampil-lainnya:hover {
    cursor: pointer;
}

.link{
    color: #000000AD;
}

.link:hover{
    color: #42b549;
}